{"openapi":"3.1.0","info":{"title":"SameDayDesk machine commerce gateway","version":"1.23.49","description":"Deterministic agent APIs for web and company intelligence, repository security, agent-work economics, machine-service discoverability, payment preflight and settlement proof, wallet context, and Morpho decision evidence. Pay per call through Base x402 or native MPP, with a Circle Gateway Nanopayments path for gasless batched USDC.","contact":{"email":"contact@samedaydesk.com","url":"https://samedaydesk.com"},"x-guidance":"Choose the narrowest route that answers the task. Supply required query parameters, inspect the HTTP 402 x402 and MPP offers, enforce your own price and network policy, then retry the identical method, path, and query with one supported payment credential. Treat runtime payment challenges as authoritative."},"x-service-info":{"categories":["agentic-payments","machine-commerce","data","defi"],"docs":{"apiReference":"https://agents.samedaydesk.com/openapi.json","homepage":"https://agents.samedaydesk.com","llms":"https://agents.samedaydesk.com/llms.txt","buyerPolicyReference":"https://github.com/epistemedeus/agent-payment-policy","purchaseEvidence":"https://agents.samedaydesk.com/.well-known/agent-payment-evidence.json"}},"servers":[{"url":"https://agents.samedaydesk.com"}],"tags":[{"name":"A2A"},{"name":"Agent Operations"},{"name":"Blockchain"},{"name":"Company Intelligence"},{"name":"DeFi"},{"name":"Distribution"},{"name":"Security"},{"name":"Settlement Radar"},{"name":"Web Data"}],"paths":{"/v0/cards.json":{"get":{"summary":"Free incident-backed platform health cards. Categories are not calibrated scores.","responses":{"200":{"description":"SameDayDesk platform health index v0"}},"operationId":"listPlatformHealthCards","tags":["Settlement Radar"],"security":[]}},"/v0/commerce-demand.json":{"get":{"summary":"Privacy-safe aggregate external machine-commerce observations.","parameters":[{"name":"days","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":365,"default":90}}],"responses":{"200":{"description":"Aggregate discovery, constructed-request, challenge, paid-success, unmatched-request, and high-precision semantic-candidate counts. A separate paymentEvidence readout distinguishes retained paid-event actors from durable reconciled settlements and leaves customer count and buyer-valid delivery unknown without separate authority. Known internal and owner-monitor traffic stays outside demand; crawler construction remains separately source-labeled reach evidence.","content":{"application/json":{"schema":{"type":"object","properties":{"paymentEvidence":{"type":"object","additionalProperties":false,"properties":{"schemaVersion":{"type":"string","const":"samedaydesk.commerce-payment-evidence-readout.v1"},"relationship":{"type":"string","enum":["durable_settlement_outlives_retained_paid_event","retained_paid_event_and_durable_settlement","retained_paid_event_pending_or_outside_settlement_ledger","complete_no_paid_evidence","unknown"]},"eventPlane":{"type":"object","additionalProperties":false,"properties":{"coverage":{"type":"string"},"retainedPaidSuccessActors":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"retainedRepeatPaidSuccessActors":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"requestedWindowPaidSuccessActors":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"requestedWindowRepeatPaidSuccessActors":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]}},"required":["coverage","retainedPaidSuccessActors","retainedRepeatPaidSuccessActors","requestedWindowPaidSuccessActors","requestedWindowRepeatPaidSuccessActors"]},"settlementPlane":{"type":"object","additionalProperties":false,"properties":{"enabled":{"type":"boolean"},"baseline":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"coverage":{"type":"string","enum":["complete","unknown_for_full_window"]},"reconciledSettlements":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}]},"amountAtomic":{"anyOf":[{"type":"string","pattern":"^\\d+$"},{"type":"null"}]},"byClass":{"type":"object","additionalProperties":{"type":"object","additionalProperties":false,"properties":{"settlements":{"type":"integer","minimum":0},"amountAtomic":{"type":"string","pattern":"^\\d+$"}},"required":["settlements","amountAtomic"]}},"byRoute":{"type":"object","additionalProperties":{"type":"object","additionalProperties":false,"properties":{"settlements":{"type":"integer","minimum":0},"amountAtomic":{"type":"string","pattern":"^\\d+$"}},"required":["settlements","amountAtomic"]}}},"required":["enabled","baseline","coverage","reconciledSettlements","amountAtomic","byClass","byRoute"]},"customerPlane":{"type":"object","additionalProperties":false,"properties":{"attributableCustomerCount":{"type":"null"},"buyerValidDeliveryCount":{"type":"null"},"repeatIndependentCustomerCount":{"type":"null"}},"required":["attributableCustomerCount","buyerValidDeliveryCount","repeatIndependentCustomerCount"]},"boundaries":{"type":"object","additionalProperties":false,"properties":{"retainedEventZeroNeverMeansHistoricalZeroWhenCoverageIncomplete":{"type":"boolean","const":true},"settlementNeverBecomesCustomer":{"type":"boolean","const":true},"paymentKeyNeverBecomesCustomer":{"type":"boolean","const":true},"settlementNeverProvesBuyerValidDelivery":{"type":"boolean","const":true},"customerAttributionRequiresSeparateEvidence":{"type":"boolean","const":true}},"required":["retainedEventZeroNeverMeansHistoricalZeroWhenCoverageIncomplete","settlementNeverBecomesCustomer","paymentKeyNeverBecomesCustomer","settlementNeverProvesBuyerValidDelivery","customerAttributionRequiresSeparateEvidence"]}},"required":["schemaVersion","relationship","eventPlane","settlementPlane","customerPlane","boundaries"]}},"required":["paymentEvidence"]}}}}},"operationId":"getCommerceDemand","tags":["Settlement Radar"],"security":[]}},"/.well-known/paid-action-effects.json":{"get":{"summary":"Experimental read-only effect and retry contract for SameDayDesk paid POST operations.","responses":{"200":{"description":"Exact method-route effect declarations and payment-response replay boundary"}},"operationId":"getPaidActionEffectProfile","tags":["Agent Operations"],"security":[]}},"/.well-known/agent-payment-evidence.json":{"get":{"summary":"Seller-declared purchase-authorization evidence for every exact paid operation.","responses":{"200":{"description":"Bounded operation-level effect, response guarantee, replay, receipt, and signed-deployment pointers"}},"operationId":"getAgentPaymentEvidence","tags":["Agent Operations"],"security":[]}},"/.well-known/agent-card.json":{"get":{"summary":"A2A v1.0 agent card for the free machine-commerce storefront.","responses":{"200":{"description":"A2A AgentCard"}},"operationId":"getA2aAgentCard","tags":["A2A"],"security":[]}},"/.well-known/glama.json":{"get":{"summary":"Project-owned Glama connector maintainer verification.","responses":{"200":{"description":"Glama connector verification"}},"operationId":"getGlamaVerification","tags":["Distribution"],"security":[]}},"/.well-known/x402-verification.json":{"get":{"summary":"Public server-ownership proof for the x402.jobs resource registry.","responses":{"200":{"description":"x402.jobs ownership verification"}},"operationId":"getX402JobsVerification","tags":["Distribution"],"security":[]}},"/.well-known/agent-registration.json":{"get":{"summary":"ERC-8004-compatible SameDayDesk registration metadata for the Solana Agent Registry.","responses":{"200":{"description":"SameDayDesk agent identity, service endpoints, settlement wallet, and x402 support"}},"operationId":"getSolanaAgentRegistration","tags":["A2A"],"security":[]}},"/.well-known/agent-payment-policy-service-deployment.json":{"get":{"summary":"Signed short-lived binding from the ERC-8004 agent wallet to the canonical SameDayDesk origin, exact paid routes, and exact x402 and MPP settlement identities.","responses":{"200":{"description":"Ed25519 JWS deployment statement plus public identity pointers"}},"operationId":"getServiceDeploymentStatement","tags":["Agent Operations"],"security":[]}},"/.well-known/agent-payment-policy-service-deployment.pem":{"get":{"summary":"Ed25519 public key whose raw 32-byte value is the ERC-8004 operational Solana wallet.","responses":{"200":{"description":"PEM-encoded Ed25519 public key"}},"operationId":"getServiceDeploymentPublicKey","tags":["Agent Operations"],"security":[]}},"/schemas/wallet-policy-conformance-v1.json":{"get":{"summary":"Free canonical case matrix and JSON Schemas for the wallet-policy conformance product.","responses":{"200":{"description":"Versioned credential-free wallet-policy conformance contract"}},"operationId":"getWalletPolicyConformanceSchema","tags":["Security"],"security":[]}},"/schemas/stateful-wallet-policy-conformance-v1.json":{"get":{"summary":"Free canonical stateful case matrix and JSON Schemas for cumulative wallet-policy conformance.","responses":{"200":{"description":"Versioned credential-free stateful wallet-policy conformance contract"}},"operationId":"getStatefulWalletPolicyConformanceSchema","tags":["Security"],"security":[]}},"/a2a/message:send":{"post":{"summary":"Return the exact-price x402 and MPP action catalog as an A2A direct message.","responses":{"200":{"description":"A2A message containing the action catalog"},"400":{"description":"Invalid request or unsupported A2A version"}},"operationId":"sendA2aMessage","tags":["A2A"],"security":[]}},"/platforms":{"get":{"summary":"Human-readable Settlement Radar health cards.","responses":{"200":{"description":"HTML platform health index"}},"operationId":"viewSettlementRadar","tags":["Settlement Radar"],"security":[]}},"/work/opportunity-preflight":{"get":{"summary":"Agent work opportunity -> deterministic attempt, verify-first, or abandon preflight using caller-supplied cost and selection assumptions plus dated platform evidence. Returns break-even probability, expected surplus, hard gates, and source-linked evidence. No claim, bid, payment, or submission.","parameters":[{"name":"platform","in":"query","required":false,"schema":{"type":"string","example":"taskmarket"}},{"name":"rewardUsd","in":"query","required":true,"schema":{"type":"number","exclusiveMinimum":0}},{"name":"hours","in":"query","required":true,"schema":{"type":"number","minimum":0}},{"name":"hourlyCostUsd","in":"query","required":true,"schema":{"type":"number","minimum":0}},{"name":"computeUsd","in":"query","required":false,"schema":{"type":"number","minimum":0,"default":0}},{"name":"mandatorySpendUsd","in":"query","required":false,"schema":{"type":"number","minimum":0,"default":0}},{"name":"reusableValueUsd","in":"query","required":false,"schema":{"type":"number","minimum":0,"default":0}},{"name":"selectionProbabilityPct","in":"query","required":false,"schema":{"type":"number","minimum":0,"maximum":100}},{"name":"competition","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0}},{"name":"slots","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}},{"name":"agentAccess","in":"query","required":false,"schema":{"type":"string","enum":["agent_allowed","agent_only","mixed","human_only","unknown"],"default":"unknown"}},{"name":"acceptance","in":"query","required":false,"schema":{"type":"string","enum":["deterministic","machine_scored","timed_review","discretionary","unknown"],"default":"unknown"}},{"name":"settlement","in":"query","required":false,"schema":{"type":"string","enum":["direct","escrow","platform_balance","discretionary","unfunded","unknown"],"default":"unknown"}}],"responses":{"200":{"description":"deterministic opportunity economics and evidence preflight","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"ok":{"type":"boolean","const":true},"product":{"type":"string","const":"samedaydesk-opportunity-preflight"},"version":{"type":"string","const":"1.0.0"},"decision":{"type":"string","enum":["attempt","verify_first","abandon"]},"input":{"type":"object","additionalProperties":false,"properties":{"platform":{"type":["string","null"]},"rewardUsd":{"type":"number"},"hours":{"type":"number"},"hourlyCostUsd":{"type":"number"},"computeUsd":{"type":"number"},"mandatorySpendUsd":{"type":"number"},"reusableValueUsd":{"type":"number"},"selectionProbabilityPct":{"type":["number","null"]},"competition":{"type":"integer"},"slots":{"type":"integer"},"agentAccess":{"type":"string","enum":["agent_allowed","agent_only","mixed","human_only","unknown"]},"acceptance":{"type":"string","enum":["deterministic","machine_scored","timed_review","discretionary","unknown"]},"settlement":{"type":"string","enum":["direct","escrow","platform_balance","discretionary","unfunded","unknown"]}},"required":["platform","rewardUsd","hours","hourlyCostUsd","computeUsd","mandatorySpendUsd","reusableValueUsd","selectionProbabilityPct","competition","slots","agentAccess","acceptance","settlement"]},"economics":{"type":"object","additionalProperties":false,"properties":{"executionCostUsd":{"type":"number"},"mandatorySpendUsd":{"type":"number"},"totalAtRiskUsd":{"type":"number"},"reusableValueUsd":{"type":"number"},"expectedRewardUsd":{"type":["number","null"]},"expectedSurplusUsd":{"type":["number","null"]},"breakEvenSelectionProbabilityPct":{"type":"number"},"equalEntryShareReferencePct":{"type":["number","null"]},"probabilitySource":{"type":"string","enum":["missing","caller_supplied"]},"equalEntryShareBoundary":{"type":"string"}},"required":["executionCostUsd","mandatorySpendUsd","totalAtRiskUsd","reusableValueUsd","expectedRewardUsd","expectedSurplusUsd","breakEvenSelectionProbabilityPct","equalEntryShareReferencePct","probabilitySource","equalEntryShareBoundary"]},"gates":{"type":"object","additionalProperties":false,"properties":{"hardBlocks":{"type":"array","items":{"type":"string"}},"requiredChecks":{"type":"array","items":{"type":"string"}},"warnings":{"type":"array","items":{"type":"string"}}},"required":["hardBlocks","requiredChecks","warnings"]},"platformEvidence":{"type":["object","null"],"additionalProperties":false,"properties":{"platformId":{"type":"string"},"platformName":{"type":"string"},"healthCategory":{"type":"string"},"confidence":{"type":"string"},"freshness":{"type":"string"},"observedAt":{"type":"string"},"freshUntil":{"type":"string"},"sampleCount":{"type":"integer"},"settlementMechanism":{"type":"array","items":{"type":"string"}},"rightsClass":{"type":"string"},"evidence":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"factClass":{"type":"string"},"summary":{"type":"string"},"sourceUrl":{"type":"string"},"observedAt":{"type":"string"},"stageReached":{"type":"string"},"failedAt":{"type":["string","null"]},"confidence":{"type":"string"}},"required":["factClass","summary","sourceUrl","observedAt","stageReached","failedAt","confidence"]}},"unknowns":{"type":"array","items":{"type":"string"}}},"required":["platformId","platformName","healthCategory","confidence","freshness","observedAt","freshUntil","sampleCount","settlementMechanism","rightsClass","evidence","unknowns"]},"boundary":{"type":"string"},"sample":{"type":"boolean","const":true},"charged":{"type":"boolean","const":false},"trial":{"type":"object","additionalProperties":false,"properties":{"contract":{"type":"string","const":"fixed-non-authoritative-example"},"next":{"type":"string"}},"required":["contract","next"]}},"required":["ok","product","version","decision","input","economics","gates","platformEvidence","boundary"]},"example":{"ok":true,"product":"samedaydesk-opportunity-preflight","version":"1.0.0","decision":"abandon","input":{"platform":"taskmarket","rewardUsd":10,"hours":0.25,"hourlyCostUsd":4,"computeUsd":0.5,"mandatorySpendUsd":0,"reusableValueUsd":1,"selectionProbabilityPct":2,"competition":80,"slots":1,"agentAccess":"agent_allowed","acceptance":"discretionary","settlement":"escrow"},"economics":{"executionCostUsd":1.5,"mandatorySpendUsd":0,"totalAtRiskUsd":1.5,"reusableValueUsd":1,"expectedRewardUsd":0.2,"expectedSurplusUsd":-0.3,"breakEvenSelectionProbabilityPct":5,"equalEntryShareReferencePct":1.25,"probabilitySource":"caller_supplied","equalEntryShareBoundary":"slots divided by visible competitors is a reference ratio, not a payout probability or calibrated forecast."},"gates":{"hardBlocks":[],"requiredChecks":["platform_evidence_not_available_reverify_primary_source"],"warnings":["human_or_buyer_selection_can_reject_technically_valid_work","equal_entry_share_reference_is_below_break_even_probability"]},"platformEvidence":null,"boundary":"Deterministic arithmetic and dated categorical evidence only. The caller supplies cost and selection assumptions, must reverify the primary listing, and owns legal, policy, identity, spending, and execution decisions. No platform account, claim, bid, payment, or submission is made."}}}},"400":{"description":"invalid required input, charged nothing"},"402":{"description":"payment required (x402, $0.05 USDC base)"}},"operationId":"preflightAgentOpportunity","tags":["Agent Operations"],"x-payment-info":{"price":{"amount":"0.05","currency":"USD","mode":"fixed"},"protocols":[{"x402":{"asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","network":"eip155:8453","scheme":"exact"}},{"mpp":{"currency":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","intent":"charge","method":"evm","network":"eip155:8453"}}]}},"post":{"operationId":"preflightAgentOpportunityForWorkflow","tags":["Agent Operations"],"summary":"Agent work opportunity -> deterministic attempt, verify-first, or abandon preflight using caller-supplied cost and selection assumptions plus dated platform evidence. Returns break-even probability, expected surplus, hard gates, and source-linked evidence. No claim, bid, payment, or submission. JSON-body form for machine workflow builders.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"platform":{"type":"string","maxLength":100},"rewardUsd":{"type":"number","exclusiveMinimum":0},"hours":{"type":"number","minimum":0,"maximum":10000},"hourlyCostUsd":{"type":"number","minimum":0,"maximum":100000},"computeUsd":{"type":"number","minimum":0,"default":0},"mandatorySpendUsd":{"type":"number","minimum":0,"default":0},"reusableValueUsd":{"type":"number","minimum":0,"default":0},"selectionProbabilityPct":{"type":"number","minimum":0,"maximum":100},"competition":{"type":"integer","minimum":0,"default":0},"slots":{"type":"integer","minimum":1,"default":1},"agentAccess":{"type":"string","enum":["agent_allowed","agent_only","mixed","human_only","unknown"],"default":"unknown"},"acceptance":{"type":"string","enum":["deterministic","machine_scored","timed_review","discretionary","unknown"],"default":"unknown"},"settlement":{"type":"string","enum":["direct","escrow","platform_balance","discretionary","unfunded","unknown"],"default":"unknown"}},"required":["rewardUsd","hours","hourlyCostUsd"]}}}},"responses":{"200":{"description":"deterministic opportunity economics and evidence preflight","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"ok":{"type":"boolean","const":true},"product":{"type":"string","const":"samedaydesk-opportunity-preflight"},"version":{"type":"string","const":"1.0.0"},"decision":{"type":"string","enum":["attempt","verify_first","abandon"]},"input":{"type":"object","additionalProperties":false,"properties":{"platform":{"type":["string","null"]},"rewardUsd":{"type":"number"},"hours":{"type":"number"},"hourlyCostUsd":{"type":"number"},"computeUsd":{"type":"number"},"mandatorySpendUsd":{"type":"number"},"reusableValueUsd":{"type":"number"},"selectionProbabilityPct":{"type":["number","null"]},"competition":{"type":"integer"},"slots":{"type":"integer"},"agentAccess":{"type":"string","enum":["agent_allowed","agent_only","mixed","human_only","unknown"]},"acceptance":{"type":"string","enum":["deterministic","machine_scored","timed_review","discretionary","unknown"]},"settlement":{"type":"string","enum":["direct","escrow","platform_balance","discretionary","unfunded","unknown"]}},"required":["platform","rewardUsd","hours","hourlyCostUsd","computeUsd","mandatorySpendUsd","reusableValueUsd","selectionProbabilityPct","competition","slots","agentAccess","acceptance","settlement"]},"economics":{"type":"object","additionalProperties":false,"properties":{"executionCostUsd":{"type":"number"},"mandatorySpendUsd":{"type":"number"},"totalAtRiskUsd":{"type":"number"},"reusableValueUsd":{"type":"number"},"expectedRewardUsd":{"type":["number","null"]},"expectedSurplusUsd":{"type":["number","null"]},"breakEvenSelectionProbabilityPct":{"type":"number"},"equalEntryShareReferencePct":{"type":["number","null"]},"probabilitySource":{"type":"string","enum":["missing","caller_supplied"]},"equalEntryShareBoundary":{"type":"string"}},"required":["executionCostUsd","mandatorySpendUsd","totalAtRiskUsd","reusableValueUsd","expectedRewardUsd","expectedSurplusUsd","breakEvenSelectionProbabilityPct","equalEntryShareReferencePct","probabilitySource","equalEntryShareBoundary"]},"gates":{"type":"object","additionalProperties":false,"properties":{"hardBlocks":{"type":"array","items":{"type":"string"}},"requiredChecks":{"type":"array","items":{"type":"string"}},"warnings":{"type":"array","items":{"type":"string"}}},"required":["hardBlocks","requiredChecks","warnings"]},"platformEvidence":{"type":["object","null"],"additionalProperties":false,"properties":{"platformId":{"type":"string"},"platformName":{"type":"string"},"healthCategory":{"type":"string"},"confidence":{"type":"string"},"freshness":{"type":"string"},"observedAt":{"type":"string"},"freshUntil":{"type":"string"},"sampleCount":{"type":"integer"},"settlementMechanism":{"type":"array","items":{"type":"string"}},"rightsClass":{"type":"string"},"evidence":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"factClass":{"type":"string"},"summary":{"type":"string"},"sourceUrl":{"type":"string"},"observedAt":{"type":"string"},"stageReached":{"type":"string"},"failedAt":{"type":["string","null"]},"confidence":{"type":"string"}},"required":["factClass","summary","sourceUrl","observedAt","stageReached","failedAt","confidence"]}},"unknowns":{"type":"array","items":{"type":"string"}}},"required":["platformId","platformName","healthCategory","confidence","freshness","observedAt","freshUntil","sampleCount","settlementMechanism","rightsClass","evidence","unknowns"]},"boundary":{"type":"string"}},"required":["ok","product","version","decision","input","economics","gates","platformEvidence","boundary"]},"example":{"ok":true,"product":"samedaydesk-opportunity-preflight","version":"1.0.0","decision":"abandon","input":{"platform":"taskmarket","rewardUsd":10,"hours":0.25,"hourlyCostUsd":4,"computeUsd":0.5,"mandatorySpendUsd":0,"reusableValueUsd":1,"selectionProbabilityPct":2,"competition":80,"slots":1,"agentAccess":"agent_allowed","acceptance":"discretionary","settlement":"escrow"},"economics":{"executionCostUsd":1.5,"mandatorySpendUsd":0,"totalAtRiskUsd":1.5,"reusableValueUsd":1,"expectedRewardUsd":0.2,"expectedSurplusUsd":-0.3,"breakEvenSelectionProbabilityPct":5,"equalEntryShareReferencePct":1.25,"probabilitySource":"caller_supplied","equalEntryShareBoundary":"slots divided by visible competitors is a reference ratio, not a payout probability or calibrated forecast."},"gates":{"hardBlocks":[],"requiredChecks":["platform_evidence_not_available_reverify_primary_source"],"warnings":["human_or_buyer_selection_can_reject_technically_valid_work","equal_entry_share_reference_is_below_break_even_probability"]},"platformEvidence":null,"boundary":"Deterministic arithmetic and dated categorical evidence only. The caller supplies cost and selection assumptions, must reverify the primary listing, and owns legal, policy, identity, spending, and execution decisions. No platform account, claim, bid, payment, or submission is made."}}}},"400":{"description":"invalid or missing input, charged nothing"},"402":{"description":"payment required (x402 or MPP, $0.05 USDC base)"}},"x-payment-info":{"price":{"amount":"0.05","currency":"USD","mode":"fixed"},"protocols":[{"x402":{"asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","network":"eip155:8453","scheme":"exact"}},{"mpp":{"currency":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","intent":"charge","method":"evm","network":"eip155:8453"}}]},"x-paid-effect":{"version":"0.1.0","classification":"read_only","unpaidRequest":{"applicationEffects":"none","protocolStateMayBeRecorded":["payment_challenge"],"telemetryPersisted":false},"retry":{"applicationEffectAtMostOnce":"not_applicable_read_only","responseReplay":"conditional","requestBinding":["method","canonical_url","exact_raw_body_sha256","payer","payment_terms","exact_settled_credential"],"x402Requirement":"payment-identifier extension","mppRequirement":"exact settled credential","mismatchStatus":409},"paymentProtocols":["x402","mpp"],"profile":"/.well-known/paid-action-effects.json"}}},"/distribution/agent-discoverability-audit":{"get":{"summary":"Audit one x402 or MPP service across ten public machine-discovery views. Returns intent rank, canonical and alias records, duplicates, competitors, expected-route presence, exact-price drift, evidence-based next actions, and source outages. Optional checks compare a same-origin unsigned offer, public Agent Card, ERC-8004 document, action catalog, and Coinbase validation-versus-materialization state. Uses no catalog credential, signature, or payment.","parameters":[{"name":"origin","in":"query","required":true,"description":"Public HTTPS origin of the machine service, with no path or query.","schema":{"type":"string","format":"uri","example":"https://agents.samedaydesk.com"}},{"name":"intent","in":"query","required":true,"description":"Brand-blind capability description used as the registry query.","schema":{"type":"string","minLength":20,"maxLength":500,"example":"extract a public web page into structured JSON metadata headings links and JSON-LD"}},{"name":"route","in":"query","required":false,"description":"Expected exact path whose presence should be checked.","schema":{"type":"string","pattern":"^/[^?#]*$","example":"/extract"}},{"name":"method","in":"query","required":false,"description":"Exact seller method for the optional Coinbase materialization audit. runtimeUrl remains GET-only.","schema":{"type":"string","enum":["GET","POST"],"default":"GET"}},{"name":"runtimeUrl","in":"query","required":false,"description":"Optional exact same-origin HTTPS GET URL whose unpaid x402 or MPP offer supplies the runtime price reference. Requires route and an exactly matching pathname. Uses pinned public DNS, reads headers only, follows no redirect, and sends no credential or payment.","schema":{"type":"string","format":"uri","maxLength":2048,"example":"https://agents.samedaydesk.com/extract?url=https%3A%2F%2Fexample.com"}},{"name":"payTo","in":"query","required":false,"description":"Optional EVM settlement address used to identify aliased service origins.","schema":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"}},{"name":"expectedPriceUsd","in":"query","required":false,"description":"Optional exact route price expected by the caller, with at most six fractional digits. Requires route. A coherent runtimeUrl offer takes precedence and any caller-to-runtime drift is reported.","schema":{"type":"number","minimum":0,"maximum":1000000,"multipleOf":0.000001,"example":0.005}},{"name":"surfaceAudit","in":"query","required":false,"description":"Set true to inspect the target's public Agent Card, ERC-8004 registration document, and action catalog for the expected route after payment. Uses pinned public DNS, no redirects, a five-second timeout, and a 512-KiB cap per document.","schema":{"type":"boolean","default":false}},{"name":"materializationAudit","in":"query","required":false,"description":"Set true with route and method to distinguish Coinbase seller ineligibility from provider acceptance without exact-resource Bazaar materialization. Uses no credential, signature, or payment; Coinbase may make one unpaid request to the seller using the requested method.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"brand-blind point-in-time discovery ranks, coverage, route presence, runtime-derived or caller-labeled catalog-price drift, optional owned-surface coverage, optional Coinbase materialization state, and method limits","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"product":{"type":"string","const":"samedaydesk-agent-discoverability-audit"},"version":{"type":"string"},"generatedAt":{"type":"string"},"input":{"type":"object"},"summary":{"type":"object"},"sources":{"type":"object"},"runtimeOfferAudit":{"type":"object"},"findings":{"type":"array"},"nextActions":{"type":"array"},"method":{"type":"string"},"safety":{"type":"object"},"boundary":{"type":"string"}},"required":["ok","product","version","generatedAt","input","summary","sources","runtimeOfferAudit","findings","nextActions","method","safety","boundary"]},"example":{"ok":true,"product":"samedaydesk-agent-discoverability-audit","version":"1.11.0","generatedAt":"2026-08-09T00:00:00.000Z","input":{"origin":"https://agents.samedaydesk.com","intent":"extract a public web page into structured JSON metadata headings links and JSON-LD","route":"/extract","runtimeUrl":"https://agents.samedaydesk.com/extract?url=https%3A%2F%2Fexample.com","expectedPriceUsd":0.005,"expectedPriceAtomic":"5000"},"summary":{"sourceCount":10,"availableSourceCount":10,"targetFoundSourceCount":4,"expectedRouteFoundSourceCount":4,"sourceFamilyCount":9,"targetFoundSourceFamilyCount":4,"priceReference":{"basis":"live_unsigned_offer","amountAtomic":"5000","amountUsd":0.005,"protocols":["mpp","x402"]},"matchedPriceSourceCount":3,"driftedPriceSourceCount":1,"identityObservationSourceCount":10,"identityConflictSourceCount":1,"identityConflictSources":["agent402-router"]},"sources":{"coinbase-bazaar":{"status":"ok","targetFound":true,"bestTargetRank":9,"priceObservation":{"status":"matched","expectedPriceAtomic":"5000","observedPricesAtomic":["5000"]},"identityObservation":{"schemaVersion":"agent-payment-policy.listing-identity-report.v1","decision":"canonical","status":"canonical","exactRouteRecordCount":1,"canonicalRecordCount":1,"canonicalOriginMatched":true,"aliasCandidateCount":0,"aliasOrigins":[],"identityBasis":"agent-payment-policy@0.8.0","ownershipProven":false,"evidenceBoundary":"An observed record uses the caller-supplied canonical origin. This does not prove marketplace ownership or control."}}},"runtimeOfferAudit":{"requested":true,"status":"ok","decision":"parseable_offer","protocols":["mpp","x402"],"offerCount":2},"findings":[{"code":"target_not_top_three","source":"coinbase-bazaar"}],"nextActions":[{"action":"clarify_semantic_description","evidence":"target ranked below three competitors"}],"method":"Brand-blind point-in-time catalog query with registry-native ordering.","safety":{"credentialsUsed":false,"paymentSentToCatalogs":false,"targetOriginFetched":false},"boundary":"Point-in-time discovery evidence; not buyer demand, conversion, reliability, or future-rank proof."}}}},"400":{"description":"invalid or branded input, charged nothing"},"402":{"description":"payment required (x402, $0.05 USDC base)"}},"operationId":"auditAgentDiscoverability","tags":["Distribution"],"x-payment-info":{"price":{"amount":"0.05","currency":"USD","mode":"fixed"},"protocols":[{"x402":{"asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","network":"eip155:8453","scheme":"exact"}},{"mpp":{"currency":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","intent":"charge","method":"evm","network":"eip155:8453"}}]}}},"/commerce/payment-offer-preflight":{"get":{"summary":"Compare x402 and MPP challenges plus seller-declared response readiness before buyer authorization for one exact public HTTPS GET URL. Optionally checks catalog metadata against live unsigned offers across request, protocol, amount, network, asset, recipient, and expiry. Returns normalized offers, parity findings, response-contract evidence, and an explicit decision. Uses no credential, signature, or target payment and reads no paid body.","parameters":[{"name":"url","in":"query","required":true,"description":"Exact public HTTPS GET route to inspect without credentials or payment.","schema":{"type":"string","format":"uri","maxLength":2048,"example":"https://agents.samedaydesk.com/defi/morpho-position?address=0x8ee9c15c3e5332cbc6ef39a2bb036c63c6549b6e"}}],"responses":{"200":{"description":"normalized x402 and MPP offers, binding checks, economic parity, response-contract readiness, and a bounded decision","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"product":{"type":"string","const":"samedaydesk-payment-offer-preflight"},"version":{"type":"string","const":"1.2.0"},"checkedAt":{"type":"string","format":"date-time"},"target":{"type":"object"},"decision":{"type":"string","enum":["parseable_offer","review_required","no_parseable_offer"]},"protocols":{"type":"array","items":{"type":"string","enum":["mpp","x402"]}},"offerCount":{"type":"integer","minimum":0},"offers":{"type":"array"},"parity":{"type":"object"},"catalogCoherence":{"type":"array"},"responseContract":{"type":"object"},"responseContractAcquisition":{"type":"object"},"findings":{"type":"array"},"boundary":{"type":"object"}},"required":["ok","product","version","checkedAt","target","decision","protocols","offerCount","offers","parity","catalogCoherence","responseContract","responseContractAcquisition","findings","boundary"],"additionalProperties":false},"example":{"ok":true,"product":"samedaydesk-payment-offer-preflight","version":"1.2.0","checkedAt":"2026-08-10T20:00:00.000Z","target":{"method":"GET","url":"https://agents.samedaydesk.com/defi/morpho-position?address=0x8ee9c15c3e5332cbc6ef39a2bb036c63c6549b6e","httpStatus":402},"decision":"parseable_offer","protocols":["mpp","x402"],"offerCount":2,"offers":[{"protocol":"x402","scheme":"exact","intent":"exact","network":"eip155:8453","amountAtomic":"20000","valid":true}],"parity":{"compared":true,"consistent":true,"driftFields":[]},"catalogCoherence":[],"responseContract":{"decision":"admissible","requiredFields":["ok","title","url"],"requiredPaths":["ok","title","url"],"exampleStatus":"structurally_consistent","runtimeResponseVerified":false},"responseContractAcquisition":{"attempted":true,"sameOrigin":true,"path":"/openapi.json","maxBytes":1000000,"documentRead":true,"targetResponseBodyRead":false,"credentialsUsed":false,"redirectsFollowed":false},"findings":[],"boundary":{"credentialsUsed":false,"paymentSigned":false,"paymentSent":false,"targetResponseBodyRead":false,"openApiDocumentRead":true,"redirectsFollowed":false}}}}},"400":{"description":"invalid or credential-bearing target, charged nothing"},"402":{"description":"payment required (x402, $0.005 USDC base)"},"502":{"description":"target DNS, transport, redirect, or challenge failure after the paid attempt"}},"operationId":"preflightPaymentOffer","tags":["Agent Operations"],"x-payment-info":{"price":{"amount":"0.005","currency":"USD","mode":"fixed"},"protocols":[{"x402":{"asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","network":"eip155:8453","scheme":"exact"}},{"mpp":{"currency":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","intent":"charge","method":"evm","network":"eip155:8453"}}]}},"post":{"operationId":"preflightPaymentOfferForWorkflow","tags":["Agent Operations"],"summary":"Compare x402 and MPP challenges plus seller-declared response readiness before buyer authorization for one exact public HTTPS GET URL. Optionally checks catalog metadata against live unsigned offers across request, protocol, amount, network, asset, recipient, and expiry. Returns normalized offers, parity findings, response-contract evidence, and an explicit decision. Uses no credential, signature, or target payment and reads no paid body. JSON-body form for machine workflow builders.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","format":"uri","maxLength":2048,"description":"Exact public HTTPS GET URL whose unpaid payment challenges should be inspected."},"catalog":{"type":"object","description":"Optional caller-supplied catalog candidate to compare with each live unsigned offer.","properties":{"source":{"type":"string","minLength":1,"maxLength":128},"protocol":{"type":"string","enum":["x402","mpp"]},"method":{"type":"string","const":"GET"},"url":{"type":"string","format":"uri","maxLength":2048},"amountAtomic":{"type":"string","pattern":"^(?:0|[1-9][0-9]{0,77})$"},"network":{"type":"string","minLength":1,"maxLength":200},"asset":{"type":"string","minLength":1,"maxLength":200},"recipient":{"type":"string","minLength":1,"maxLength":200},"expiresAt":{"type":"string","format":"date-time"}},"required":["source","method","url"],"additionalProperties":false}},"required":["url"],"additionalProperties":false}}}},"responses":{"200":{"description":"normalized x402 and MPP offers, binding checks, economic parity, response-contract readiness, and a bounded decision","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","const":true},"product":{"type":"string","const":"samedaydesk-payment-offer-preflight"},"version":{"type":"string","const":"1.2.0"},"checkedAt":{"type":"string","format":"date-time"},"target":{"type":"object"},"decision":{"type":"string","enum":["parseable_offer","review_required","no_parseable_offer"]},"protocols":{"type":"array","items":{"type":"string","enum":["mpp","x402"]}},"offerCount":{"type":"integer","minimum":0},"offers":{"type":"array"},"parity":{"type":"object"},"catalogCoherence":{"type":"array"},"responseContract":{"type":"object"},"responseContractAcquisition":{"type":"object"},"findings":{"type":"array"},"boundary":{"type":"object"}},"required":["ok","product","version","checkedAt","target","decision","protocols","offerCount","offers","parity","catalogCoherence","responseContract","responseContractAcquisition","findings","boundary"],"additionalProperties":false},"example":{"ok":true,"product":"samedaydesk-payment-offer-preflight","version":"1.2.0","checkedAt":"2026-08-10T20:00:00.000Z","target":{"method":"GET","url":"https://agents.samedaydesk.com/defi/morpho-position?address=0x8ee9c15c3e5332cbc6ef39a2bb036c63c6549b6e","httpStatus":402},"decision":"parseable_offer","protocols":["mpp","x402"],"offerCount":2,"offers":[{"protocol":"x402","scheme":"exact","intent":"exact","network":"eip155:8453","amountAtomic":"20000","valid":true}],"parity":{"compared":true,"consistent":true,"driftFields":[]},"catalogCoherence":[],"responseContract":{"decision":"admissible","requiredFields":["ok","title","url"],"requiredPaths":["ok","title","url"],"exampleStatus":"structurally_consistent","runtimeResponseVerified":false},"responseContractAcquisition":{"attempted":true,"sameOrigin":true,"path":"/openapi.json","maxBytes":1000000,"documentRead":true,"targetResponseBodyRead":false,"credentialsUsed":false,"redirectsFollowed":false},"findings":[],"boundary":{"credentialsUsed":false,"paymentSigned":false,"paymentSent":false,"targetResponseBodyRead":false,"openApiDocumentRead":true,"redirectsFollowed":false}}}}},"400":{"description":"invalid or missing target, charged nothing"},"402":{"description":"payment required (x402 or MPP, $0.005 USDC base)"},"502":{"description":"target DNS, transport, redirect, or challenge failure after the paid attempt"}},"x-payment-info":{"price":{"amount":"0.005","currency":"USD","mode":"fixed"},"protocols":[{"x402":{"asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","network":"eip155:8453","scheme":"exact"}},{"mpp":{"currency":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","intent":"charge","method":"evm","network":"eip155:8453"}}]},"x-paid-effect":{"version":"0.1.0","classification":"read_only","unpaidRequest":{"applicationEffects":"none","protocolStateMayBeRecorded":["payment_challenge"],"telemetryPersisted":false},"retry":{"applicationEffectAtMostOnce":"not_applicable_read_only","responseReplay":"conditional","requestBinding":["method","canonical_url","exact_raw_body_sha256","payer","payment_terms","exact_settled_credential"],"x402Requirement":"payment-identifier extension","mppRequirement":"exact settled credential","mismatchStatus":409},"paymentProtocols":["x402","mpp"],"profile":"/.well-known/paid-action-effects.json"}}},"/commerce/seller-integrity-audit":{"get":{"summary":"x402 and MPP seller integrity audit for one exact paid GET or POST route after a buyer integration fails, a seller changes the route, or before the next paid retry or release. Returns machine_buyable, contract_ready, or repair_required with exact repair actions. Checks constructible non-secret input, live unpaid GET terms, optional Bazaar metadata, and buyer-required success paths. Uses no credential or target payment, follows no redirect, and sends no target POST.","parameters":[{"name":"origin","in":"query","required":true,"description":"Credential-free public HTTPS seller origin on port 443.","schema":{"type":"string","format":"uri","example":"https://agents.samedaydesk.com"}},{"name":"route","in":"query","required":true,"description":"Exact paid GET or POST path declared by the seller, without query or template parameters.","schema":{"type":"string","pattern":"^/[^/?#{}][^?#{}]*$","example":"/commerce/payment-offer-preflight"}},{"name":"method","in":"query","required":false,"description":"Paid operation method. POST receives static OpenAPI contract analysis without a target request.","schema":{"type":"string","enum":["GET","POST"],"default":"GET"}},{"name":"requiredPaths","in":"query","required":false,"description":"Comma-separated dotted JSON paths the buyer requires the success schema to guarantee recursively.","schema":{"type":"string","example":"decision,offers"}},{"name":"requireBazaar","in":"query","required":false,"description":"When true, missing Bazaar discovery metadata becomes a repair finding.","schema":{"type":"boolean","default":false}},{"name":"referral","in":"query","required":false,"description":"Optional privacy-bounded referral ID derived from a complete seller-signed x402 offer-receipt envelope. It labels acquisition only and cannot change price, authorization, or delivery.","schema":{"type":"string","pattern":"^r1_[0-9a-f]{64}$"}}],"responses":{"200":{"description":"bounded seller machine-buyability report and repair actions","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"ok":{"type":"boolean"},"product":{"type":"string","const":"samedaydesk-seller-integrity-audit"},"version":{"type":"string","const":"1.3.0"},"checkedAt":{"type":"string","format":"date-time"},"decision":{"type":"string","enum":["machine_buyable","contract_ready","repair_required"]},"request":{"type":"object","additionalProperties":false,"properties":{"origin":{"type":"string","format":"uri"},"route":{"type":"string"},"method":{"type":"string","enum":["GET","POST"]},"requiredPaths":{"type":"array","maxItems":16,"items":{"type":"string"}},"requireBazaar":{"type":"boolean"},"referral":{"type":["string","null"],"pattern":"^r1_[0-9a-f]{64}$"}},"required":["origin","route","method","requiredPaths","requireBazaar","referral"]},"report":{"type":"object","additionalProperties":false,"properties":{"auditCompleted":{"type":"boolean"},"failureCode":{"type":["string","null"]},"schemaVersion":{"type":["string","null"]},"sellerVersions":{"type":["object","null"],"properties":{"x402":{"type":["string","null"]},"mpp":{"type":["string","null"]}}},"status":{"type":["integer","null"]},"runtimeChallengeVerified":{"type":"boolean"},"probe":{"type":["object","null"]},"protocols":{"type":"array","items":{"type":"string"}},"valid":{"type":"boolean"},"findings":{"type":"array","items":{"type":"string"}},"economics":{"type":["object","null"]},"discovery":{"type":["object","null"]},"responseContract":{"type":["object","null"]},"repairPlan":{"type":["object","null"],"additionalProperties":false,"properties":{"mode":{"type":"string","const":"advisory_openapi_repair"},"requiredPaths":{"type":"array","maxItems":16,"items":{"type":"string"}},"guaranteedPaths":{"type":"array","maxItems":16,"items":{"type":"string"}},"actions":{"type":"array","maxItems":16,"items":{"type":"object","additionalProperties":false,"properties":{"requiredPath":{"type":"string"},"action":{"type":"string","enum":["add_property_to_required","define_and_require_property","define_nested_property_path"]},"parentPath":{"type":"string"},"property":{"type":"string"},"propertyDeclared":{"type":"boolean"},"propertyType":{"type":["string","null"]}},"required":["requiredPath","action","parentPath","property","propertyDeclared","propertyType"]}},"complete":{"type":"boolean"},"boundary":{"type":"object","additionalProperties":false,"properties":{"schemaMutationApplied":{"type":"boolean","const":false},"propertyTypesInferred":{"type":"boolean","const":false},"sellerRuntimeVerified":{"type":"boolean","const":false},"statement":{"type":"string"}},"required":["schemaMutationApplied","propertyTypesInferred","sellerRuntimeVerified","statement"]}},"required":["mode","requiredPaths","guaranteedPaths","actions","complete","boundary"]}},"required":["auditCompleted","failureCode","schemaVersion","sellerVersions","status","runtimeChallengeVerified","probe","protocols","valid","findings","economics","discovery","responseContract","repairPlan"]},"nextActions":{"type":"array","items":{"type":"string"}},"referralOffer":{"type":"object","additionalProperties":false,"properties":{"v":{"type":"string","const":"1"},"status":{"type":"string","enum":["available","declared"]},"id":{"type":["string","null"],"pattern":"^r1_[0-9a-f]{64}$"},"proof":{"type":"string","const":"x402-offer-receipt-jcs-sha256-v1"},"reward":{"type":"string","const":"one_free_changed_state_recheck"},"qualifiesOn":{"type":"string","const":"two_distinct_seller_signed_settlement_receipts"},"broadcastRequired":{"type":"boolean","const":false},"attributionOnly":{"type":"boolean","const":true},"instructions":{"type":"string"}},"required":["v","status","id","proof","reward","qualifiesOn","broadcastRequired","attributionOnly","instructions"]},"boundary":{"type":"object","additionalProperties":false,"properties":{"credentialsUsed":{"type":"boolean","const":false},"targetPaymentSigned":{"type":"boolean","const":false},"targetPaymentSent":{"type":"boolean","const":false},"targetRequestSent":{"type":"boolean","const":false},"redirectsFollowed":{"type":"boolean","const":false},"responseBodyRead":{"type":"boolean","const":false},"schemaRetained":{"type":"boolean","const":false},"queryValuesRetained":{"type":"boolean","const":false}},"required":["credentialsUsed","targetPaymentSigned","targetPaymentSent","targetRequestSent","redirectsFollowed","responseBodyRead","schemaRetained","queryValuesRetained"]}},"required":["ok","product","version","checkedAt","decision","request","report","nextActions","referralOffer","boundary"]},"example":{"ok":true,"product":"samedaydesk-seller-integrity-audit","version":"1.3.0","checkedAt":"2026-08-12T07:50:00.000Z","decision":"machine_buyable","request":{"origin":"https://agents.samedaydesk.com","route":"/commerce/payment-offer-preflight","method":"GET","requiredPaths":["decision","offers"],"requireBazaar":true,"referral":null},"report":{"auditCompleted":true,"failureCode":null,"schemaVersion":"agent-payment-integrity.audit.v4","sellerVersions":{"x402":"1.18.3","mpp":"1.18.3"},"status":402,"runtimeChallengeVerified":true,"probe":{"attempted":true,"reason":null},"protocols":["mpp","x402"],"valid":true,"findings":[],"economics":{"x402":{"amountAtomic":"5000"},"mpp":{"amountAtomic":"5000"}},"discovery":{"bazaar":{"present":true,"valid":true}},"responseContract":{"decision":"admissible","requiredPaths":["boundary","decision","offers","ok"]},"repairPlan":{"mode":"advisory_openapi_repair","requiredPaths":["decision","offers"],"guaranteedPaths":["decision","offers"],"actions":[],"complete":true,"boundary":{"schemaMutationApplied":false,"propertyTypesInferred":false,"sellerRuntimeVerified":false,"statement":"Apply only after the seller confirms each property's real runtime type and semantics, then rerun integrity CI."}}},"nextActions":[],"referralOffer":{"v":"1","status":"available","id":null,"proof":"x402-offer-receipt-jcs-sha256-v1","reward":"one_free_changed_state_recheck","qualifiesOn":"two_distinct_seller_signed_settlement_receipts","broadcastRequired":false,"attributionOnly":true,"instructions":"Result machine_buyable. Hash the complete seller-signed x402 receipt with RFC 8785 JSON plus SHA-256 and prefix r1_. Sharing or broadcasting the ID is optional. One free recheck can be claimed at POST /commerce/referral-recheck with that receipt and a downstream seller-signed settlement receipt from a distinct payer and transaction. The official extension issues a receipt when settlement succeeds; receipts do not prove an application HTTP 200 response, output delivery, or buyer-owned output validity. The paid call's price, authorization, and delivery never change."},"boundary":{"credentialsUsed":false,"targetPaymentSigned":false,"targetPaymentSent":false,"targetRequestSent":false,"redirectsFollowed":false,"responseBodyRead":false,"schemaRetained":false,"queryValuesRetained":false}}}}},"400":{"description":"invalid public origin or exact route, charged nothing"},"402":{"description":"payment required (x402 or MPP, $0.01 USDC base)"}},"x-payment-info":{"price":{"amount":"0.01","currency":"USD","mode":"fixed"},"protocols":[{"x402":{"asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","network":"eip155:8453","scheme":"exact"}},{"mpp":{"currency":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","intent":"charge","method":"evm","network":"eip155:8453"}}]},"operationId":"auditSellerIntegrity","tags":["Agent Operations"]}},"/commerce/referral-recheck":{"post":{"summary":"Claim one free seller-integrity recheck with two distinct merchant-signed settlement receipts. The original signed URL alone supplies the audit target, with any prior referral stripped. Receipts do not prove an application HTTP 200 response or output delivery. This route is free and records no payment, settlement, revenue, payer, transaction, or raw receipt evidence.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"original":{"type":"object","additionalProperties":false,"properties":{"format":{"type":"string","const":"eip712"},"payload":{"type":"object","additionalProperties":false,"properties":{"version":{"type":"integer","const":1},"network":{"type":"string","pattern":"^eip155:[1-9][0-9]*$"},"resourceUrl":{"type":"string","format":"uri","maxLength":4096},"payer":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"issuedAt":{"type":"integer","minimum":1},"transaction":{"type":"string","pattern":"^0x[0-9a-fA-F]{64}$"}},"required":["version","network","resourceUrl","payer","issuedAt","transaction"]},"signature":{"type":"string","pattern":"^0x[0-9a-fA-F]{130}$"}},"required":["format","payload","signature"]},"downstream":{"type":"object","additionalProperties":false,"properties":{"format":{"type":"string","const":"eip712"},"payload":{"type":"object","additionalProperties":false,"properties":{"version":{"type":"integer","const":1},"network":{"type":"string","pattern":"^eip155:[1-9][0-9]*$"},"resourceUrl":{"type":"string","format":"uri","maxLength":4096},"payer":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"issuedAt":{"type":"integer","minimum":1},"transaction":{"type":"string","pattern":"^0x[0-9a-fA-F]{64}$"}},"required":["version","network","resourceUrl","payer","issuedAt","transaction"]},"signature":{"type":"string","pattern":"^0x[0-9a-fA-F]{130}$"}},"required":["format","payload","signature"]}},"required":["original","downstream"]}}}},"responses":{"200":{"description":"one completed free changed-state recheck; the atomic claim is consumed immediately before this response","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"ok":{"type":"boolean","const":true},"product":{"type":"string","const":"samedaydesk-referral-recheck"},"version":{"type":"string","const":"1.0.0"},"referralId":{"type":"string","pattern":"^r1_[0-9a-f]{64}$"},"reward":{"type":"string","const":"one_free_changed_state_recheck"},"recheck":{"type":"object","additionalProperties":false,"properties":{"ok":{"type":"boolean"},"product":{"type":"string","const":"samedaydesk-seller-integrity-audit"},"version":{"type":"string","const":"1.3.0"},"checkedAt":{"type":"string","format":"date-time"},"decision":{"type":"string","enum":["machine_buyable","contract_ready","repair_required"]},"request":{"type":"object","additionalProperties":false,"properties":{"origin":{"type":"string","format":"uri"},"route":{"type":"string"},"method":{"type":"string","enum":["GET","POST"]},"requiredPaths":{"type":"array","maxItems":16,"items":{"type":"string"}},"requireBazaar":{"type":"boolean"},"referral":{"type":["string","null"],"pattern":"^r1_[0-9a-f]{64}$"}},"required":["origin","route","method","requiredPaths","requireBazaar","referral"]},"report":{"type":"object","additionalProperties":false,"properties":{"auditCompleted":{"type":"boolean"},"failureCode":{"type":["string","null"]},"schemaVersion":{"type":["string","null"]},"sellerVersions":{"type":["object","null"],"properties":{"x402":{"type":["string","null"]},"mpp":{"type":["string","null"]}}},"status":{"type":["integer","null"]},"runtimeChallengeVerified":{"type":"boolean"},"probe":{"type":["object","null"]},"protocols":{"type":"array","items":{"type":"string"}},"valid":{"type":"boolean"},"findings":{"type":"array","items":{"type":"string"}},"economics":{"type":["object","null"]},"discovery":{"type":["object","null"]},"responseContract":{"type":["object","null"]},"repairPlan":{"type":["object","null"],"additionalProperties":false,"properties":{"mode":{"type":"string","const":"advisory_openapi_repair"},"requiredPaths":{"type":"array","maxItems":16,"items":{"type":"string"}},"guaranteedPaths":{"type":"array","maxItems":16,"items":{"type":"string"}},"actions":{"type":"array","maxItems":16,"items":{"type":"object","additionalProperties":false,"properties":{"requiredPath":{"type":"string"},"action":{"type":"string","enum":["add_property_to_required","define_and_require_property","define_nested_property_path"]},"parentPath":{"type":"string"},"property":{"type":"string"},"propertyDeclared":{"type":"boolean"},"propertyType":{"type":["string","null"]}},"required":["requiredPath","action","parentPath","property","propertyDeclared","propertyType"]}},"complete":{"type":"boolean"},"boundary":{"type":"object","additionalProperties":false,"properties":{"schemaMutationApplied":{"type":"boolean","const":false},"propertyTypesInferred":{"type":"boolean","const":false},"sellerRuntimeVerified":{"type":"boolean","const":false},"statement":{"type":"string"}},"required":["schemaMutationApplied","propertyTypesInferred","sellerRuntimeVerified","statement"]}},"required":["mode","requiredPaths","guaranteedPaths","actions","complete","boundary"]}},"required":["auditCompleted","failureCode","schemaVersion","sellerVersions","status","runtimeChallengeVerified","probe","protocols","valid","findings","economics","discovery","responseContract","repairPlan"]},"nextActions":{"type":"array","items":{"type":"string"}},"referralOffer":{"type":"object","additionalProperties":false,"properties":{"v":{"type":"string","const":"1"},"status":{"type":"string","enum":["available","declared"]},"id":{"type":["string","null"],"pattern":"^r1_[0-9a-f]{64}$"},"proof":{"type":"string","const":"x402-offer-receipt-jcs-sha256-v1"},"reward":{"type":"string","const":"one_free_changed_state_recheck"},"qualifiesOn":{"type":"string","const":"two_distinct_seller_signed_settlement_receipts"},"broadcastRequired":{"type":"boolean","const":false},"attributionOnly":{"type":"boolean","const":true},"instructions":{"type":"string"}},"required":["v","status","id","proof","reward","qualifiesOn","broadcastRequired","attributionOnly","instructions"]},"boundary":{"type":"object","additionalProperties":false,"properties":{"credentialsUsed":{"type":"boolean","const":false},"targetPaymentSigned":{"type":"boolean","const":false},"targetPaymentSent":{"type":"boolean","const":false},"targetRequestSent":{"type":"boolean","const":false},"redirectsFollowed":{"type":"boolean","const":false},"responseBodyRead":{"type":"boolean","const":false},"schemaRetained":{"type":"boolean","const":false},"queryValuesRetained":{"type":"boolean","const":false}},"required":["credentialsUsed","targetPaymentSigned","targetPaymentSent","targetRequestSent","redirectsFollowed","responseBodyRead","schemaRetained","queryValuesRetained"]}},"required":["ok","product","version","checkedAt","decision","request","report","nextActions","referralOffer","boundary"]},"evidence":{"type":"object","additionalProperties":false,"properties":{"proof":{"type":"string","const":"two_distinct_seller_signed_settlement_receipts"},"sellerSignaturesVerified":{"type":"boolean","const":true},"sameNetwork":{"type":"boolean","const":true},"downstreamIssuedAtNotEarlier":{"type":"boolean","const":true},"distinctPayers":{"type":"boolean","const":true},"distinctTransactions":{"type":"boolean","const":true},"buyerOutputValidated":{"type":"boolean","const":false},"broadcastRequired":{"type":"boolean","const":false}},"required":["proof","sellerSignaturesVerified","sameNetwork","downstreamIssuedAtNotEarlier","distinctPayers","distinctTransactions","buyerOutputValidated","broadcastRequired"]},"claim":{"type":"object","additionalProperties":false,"properties":{"consumed":{"type":"boolean","const":true},"consumptionPoint":{"type":"string","const":"after_recheck_completed_before_success_response"}},"required":["consumed","consumptionPoint"]},"boundary":{"type":"object","additionalProperties":false,"properties":{"charged":{"type":"boolean","const":false},"paidDemandRecorded":{"type":"boolean","const":false},"settlementRecorded":{"type":"boolean","const":false},"revenueRecorded":{"type":"boolean","const":false},"rawReceiptsRetained":{"type":"boolean","const":false},"payersRetained":{"type":"boolean","const":false},"transactionsRetained":{"type":"boolean","const":false},"requestBodyRetained":{"type":"boolean","const":false}},"required":["charged","paidDemandRecorded","settlementRecorded","revenueRecorded","rawReceiptsRetained","payersRetained","transactionsRetained","requestBodyRetained"]}},"required":["ok","product","version","referralId","reward","recheck","evidence","claim","boundary"]}}}},"400":{"description":"malformed, mismatched, or ineligible signed receipt evidence; charged nothing"},"403":{"description":"one or both receipts use a signer other than the configured merchant receipt signer"},"409":{"description":"the referral already consumed its one free recheck"},"502":{"description":"the recheck failed before claim consumption"},"503":{"description":"receipt verification or durable claim storage is unavailable"}},"operationId":"claimReceiptReferralRecheck","tags":["Agent Operations"],"security":[]}},"/commerce/contract-qualified-search":{"get":{"summary":"Search Agent402 and the official MPP catalog for paid machine services that both match a capability intent and guarantee buyer-required JSON output paths. Returns bounded machine-buyable or contract-ready candidates plus controlled rejection reasons. Rejects unresolved routes and owned supply before audit, uses no credentials or wallet, sends no seller POST or target payment, reads no paid response body, and retains only a query digest.","parameters":[{"name":"query","in":"query","required":true,"description":"Capability intent sent to Agent402 search and used locally to rank MPP catalog metadata. Do not include secrets.","schema":{"type":"string","minLength":10,"maxLength":300,"example":"service domain ownership code provenance"}},{"name":"requiredPaths","in":"query","required":true,"description":"Comma-separated dotted JSON paths every returned seller contract must guarantee recursively.","schema":{"type":"string","pattern":"^[A-Za-z0-9_-]+(?:\\.[A-Za-z0-9_-]+){0,7}(?:,[A-Za-z0-9_-]+(?:\\.[A-Za-z0-9_-]+){0,7}){0,15}$","example":"data.sourceRepository"}},{"name":"maxPriceDisplayUnits","in":"query","required":false,"description":"Maximum advertised per-call price in each source's display currency.","schema":{"type":"number","exclusiveMinimum":0,"maximum":10,"default":0.1}},{"name":"limit","in":"query","required":false,"description":"Maximum total candidates audited and returned across both sources.","schema":{"type":"integer","minimum":1,"maximum":8,"default":5}}],"responses":{"200":{"description":"bounded contract-qualified candidates and controlled gap reasons","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"ok":{"type":"boolean","const":true},"product":{"type":"string","const":"samedaydesk-contract-qualified-search"},"version":{"type":"string","const":"1.1.0"},"checkedAt":{"type":"string","format":"date-time"},"decision":{"type":"string","enum":["qualified_candidates_found","no_qualified_candidate"]},"request":{"type":"object","additionalProperties":false,"properties":{"queryDigest":{"type":"string","pattern":"^sha256:[0-9a-f]{64}$"},"requiredPaths":{"type":"array","minItems":1,"maxItems":16,"items":{"type":"string"}},"maxPriceDisplayUnits":{"type":"number"},"limit":{"type":"integer"}},"required":["queryDigest","requiredPaths","maxPriceDisplayUnits","limit"]},"sources":{"type":"object","additionalProperties":false,"properties":{"agent402":{"type":"object","additionalProperties":false,"properties":{"status":{"type":"string","enum":["ok","unavailable"]},"discovered":{"type":"integer"},"audited":{"type":"integer"}},"required":["status","discovered","audited"]},"mpp":{"type":"object","additionalProperties":false,"properties":{"status":{"type":"string","enum":["ok","unavailable"]},"discovered":{"type":"integer"},"audited":{"type":"integer"}},"required":["status","discovered","audited"]}},"required":["agent402","mpp"]},"qualified":{"type":"array","maxItems":8,"items":{"type":"object","additionalProperties":false,"properties":{"source":{"type":"string","enum":["agent402","mpp"]},"serviceName":{"type":"string"},"origin":{"type":"string","format":"uri"},"method":{"type":"string","enum":["GET","POST"]},"route":{"type":"string"},"price":{"type":"object","additionalProperties":false,"properties":{"amountDisplayUnits":{"type":"number"},"currency":{"type":"string"},"decimals":{"type":"integer"},"amountAtomic":{"type":"string"}},"required":["amountDisplayUnits","currency","decimals","amountAtomic"]},"description":{"type":"string"},"decision":{"type":"string","enum":["machine_buyable","contract_ready"]},"protocols":{"type":"array","items":{"type":"string"}},"runtimeChallengeVerified":{"type":"boolean"},"guaranteedPaths":{"type":"array","maxItems":16,"items":{"type":"string"}}},"required":["source","serviceName","origin","method","route","price","description","decision","protocols","runtimeChallengeVerified","guaranteedPaths"]}},"rejected":{"type":"array","maxItems":8,"items":{"type":"object","additionalProperties":false,"properties":{"source":{"type":"string","enum":["agent402","mpp"]},"serviceName":{"type":"string"},"origin":{"type":"string","format":"uri"},"method":{"type":"string","enum":["GET","POST"]},"route":{"type":"string"},"price":{"type":"object","additionalProperties":false,"properties":{"amountDisplayUnits":{"type":"number"},"currency":{"type":"string"},"decimals":{"type":"integer"},"amountAtomic":{"type":"string"}},"required":["amountDisplayUnits","currency","decimals","amountAtomic"]},"reason":{"type":"string"},"findings":{"type":"array","maxItems":12,"items":{"type":"string"}}},"required":["source","serviceName","origin","method","route","price","reason","findings"]}},"boundary":{"type":"object","additionalProperties":false,"properties":{"credentialsUsed":{"type":"boolean","const":false},"walletAccessed":{"type":"boolean","const":false},"targetPaymentSigned":{"type":"boolean","const":false},"targetPaymentSent":{"type":"boolean","const":false},"sellerPostRequestSent":{"type":"boolean","const":false},"paidResponseBodyRead":{"type":"boolean","const":false},"queryRetained":{"type":"boolean","const":false},"querySentTo":{"type":"array","items":{"type":"string","enum":["agent402"]}},"directoryRequests":{"type":"integer"},"sellerAudits":{"type":"integer"}},"required":["credentialsUsed","walletAccessed","targetPaymentSigned","targetPaymentSent","sellerPostRequestSent","paidResponseBodyRead","queryRetained","querySentTo","directoryRequests","sellerAudits"]}},"required":["ok","product","version","checkedAt","decision","request","sources","qualified","rejected","boundary"]},"example":{"ok":true,"product":"samedaydesk-contract-qualified-search","version":"1.1.0","checkedAt":"2026-08-12T12:00:00.000Z","decision":"qualified_candidates_found","request":{"queryDigest":"sha256:64f12b41f9a391176291881e042659376376348e5373e18a3b1bf9557caa411c","requiredPaths":["data.sourceRepository"],"maxPriceDisplayUnits":0.1,"limit":5},"sources":{"agent402":{"status":"ok","discovered":3,"audited":2},"mpp":{"status":"ok","discovered":2,"audited":1}},"qualified":[{"source":"agent402","serviceName":"Example source proof","description":"Return source repository provenance for a public service.","origin":"https://service.example","method":"GET","route":"/source-proof","price":{"amountDisplayUnits":0.01,"currency":"USD","decimals":6,"amountAtomic":"10000"},"decision":"machine_buyable","protocols":["x402"],"runtimeChallengeVerified":true,"guaranteedPaths":["data.sourceRepository"]}],"rejected":[],"boundary":{"credentialsUsed":false,"walletAccessed":false,"targetPaymentSigned":false,"targetPaymentSent":false,"sellerPostRequestSent":false,"paidResponseBodyRead":false,"queryRetained":false,"querySentTo":["agent402"],"directoryRequests":2,"sellerAudits":3}}}}},"400":{"description":"invalid or secret-like search request, charged nothing"},"402":{"description":"payment required (x402 or MPP, $0.01 USDC base)"}},"x-payment-info":{"price":{"amount":"0.01","currency":"USD","mode":"fixed"},"protocols":[{"x402":{"asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","network":"eip155:8453","scheme":"exact"}},{"mpp":{"currency":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","intent":"charge","method":"evm","network":"eip155:8453"}}]},"operationId":"searchContractQualifiedServices","tags":["Agent Operations"]}},"/distribution/agent-surface-budget-audit":{"get":{"summary":"Measure one public service's free MCP tools/list, OpenAPI, or both before an agent calls or pays. Returns byte counts, byte-derived token estimates, missing selection contracts, heaviest definitions, budget decisions, and progressive-discovery fixes. Unselected surfaces are not fetched or judged. Uses public pinned DNS, follows no redirect, sends no credential or target payment, and calls no target tool.","parameters":[{"name":"origin","in":"query","required":true,"description":"Credential-free public HTTPS service origin on port 443, with no path or query.","schema":{"type":"string","format":"uri","example":"https://agents.samedaydesk.com"}},{"name":"surfaceMode","in":"query","required":false,"description":"Audit MCP only, OpenAPI only, or both declared surfaces. Unselected surfaces are not fetched or judged.","schema":{"type":"string","enum":["mcp","openapi","both"],"default":"both"}},{"name":"mcpPath","in":"query","required":false,"description":"Exact root-relative MCP streamable-HTTP path.","schema":{"type":"string","pattern":"^/[^/?#{}][^?#{}]*$","default":"/mcp"}},{"name":"openApiPath","in":"query","required":false,"description":"Exact root-relative OpenAPI JSON path.","schema":{"type":"string","pattern":"^/[^/?#{}][^?#{}]*$","default":"/openapi.json"}},{"name":"mcpBudgetBytes","in":"query","required":false,"description":"Maximum preferred raw MCP tools/list response size in bytes.","schema":{"type":"integer","minimum":8192,"maximum":1000000,"default":65536}},{"name":"openApiBudgetBytes","in":"query","required":false,"description":"Maximum preferred raw OpenAPI document size in bytes.","schema":{"type":"integer","minimum":32768,"maximum":1000000,"default":524288}}],"responses":{"200":{"description":"bounded MCP and OpenAPI surface measurements, budget decisions, and repair actions","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"ok":{"type":"boolean"},"product":{"type":"string","const":"samedaydesk-agent-surface-budget-audit"},"version":{"type":"string","const":"1.2.0"},"checkedAt":{"type":"string","format":"date-time"},"decision":{"type":"string","enum":["within_budget","optimize","surface_incomplete"]},"request":{"type":"object"},"mcp":{"type":"object"},"openapi":{"type":"object"},"actions":{"type":"array","items":{"type":"string"}},"boundary":{"type":"object"}},"required":["ok","product","version","checkedAt","decision","request","mcp","openapi","actions","boundary"]},"example":{"ok":true,"product":"samedaydesk-agent-surface-budget-audit","version":"1.2.0","checkedAt":"2026-08-12T15:00:00.000Z","decision":"optimize","request":{"origin":"https://agents.samedaydesk.com","surfaceMode":"both","mcpPath":"/mcp","openApiPath":"/openapi.json","mcpBudgetBytes":65536,"openApiBudgetBytes":524288},"mcp":{"requested":true,"available":true,"bytes":90000,"byteDerivedTokenEstimate":22500,"budgetBytes":65536,"withinBudget":false,"protocolVersion":"2025-11-25","server":{"name":"example","version":"1.0.0"},"toolCount":20,"pageCount":1,"selectionBytes":87000,"missingTitleCount":0,"missingDescriptionCount":0,"missingInputSchemaCount":0,"missingOutputSchemaCount":20,"heaviestTools":[]},"openapi":{"requested":true,"available":true,"bytes":300000,"byteDerivedTokenEstimate":75000,"budgetBytes":524288,"withinBudget":true,"operationCount":25,"missingOperationIdCount":0,"heaviestOperations":[]},"actions":["Add progressive MCP tool discovery or split the server into task-focused tool sets so clients do not ingest the full catalog every turn."],"boundary":{"credentialsUsed":false,"toolsCalled":false,"targetPaymentSigned":false,"targetPaymentSent":false,"redirectsFollowed":false,"responseBodiesReturned":false,"schemasRetained":false,"sessionIdentifiersReturned":false,"tokenEstimateMethod":"ceil(UTF-8 bytes / 4); comparative estimate, not tokenizer billing"}}}}},"400":{"description":"invalid public origin, path, or byte budget, charged nothing"},"402":{"description":"payment required (x402 or MPP, $0.01 USDC base)"}},"x-payment-info":{"price":{"amount":"0.01","currency":"USD","mode":"fixed"},"protocols":[{"x402":{"asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","network":"eip155:8453","scheme":"exact"}},{"mpp":{"currency":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","intent":"charge","method":"evm","network":"eip155:8453"}}]},"operationId":"auditAgentSurfaceBudget","tags":["Distribution"]}},"/commerce/settlement-proof":{"get":{"summary":"Verify one claimed canonical Base USDC settlement against the successful on-chain transaction receipt. Binds an exact transaction hash, recipient, atomic amount, and optional payer; returns a deterministic verified or not-verified result, block time, mismatch findings, and no private merchant-ledger data. Read-only and performs no wallet, signing, broadcast, custody, or execution action.","parameters":[{"name":"transactionHash","in":"query","required":true,"description":"Base mainnet transaction hash whose canonical USDC Transfer logs should be checked.","schema":{"type":"string","pattern":"^0x[0-9a-fA-F]{64}$","example":"0xcfcbb367fecf27052db9ca855e5146e99cacbce1cab94f20f9f95a74170a8987"}},{"name":"recipient","in":"query","required":true,"description":"Expected USDC recipient.","schema":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$","example":"0x8904dF3DE6DFEe6a7C8cc38619d2f17806213Cee"}},{"name":"amountAtomic","in":"query","required":true,"description":"Expected positive USDC amount in six-decimal atomic units.","schema":{"type":"string","pattern":"^[1-9][0-9]{0,20}$","maxLength":21,"example":"5000"}},{"name":"payer","in":"query","required":false,"description":"Optional expected USDC payer.","schema":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"}}],"responses":{"200":{"description":"deterministic canonical Base USDC settlement proof or mismatch findings","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"product":{"type":"string","const":"samedaydesk-base-usdc-settlement-proof"},"version":{"type":"string"},"checkedAt":{"type":"string"},"decision":{"type":"string","enum":["verified","not_verified","receipt_unavailable"]},"request":{"type":"object"},"chain":{"type":"object"},"asset":{"type":"object"},"transaction":{"type":"object"},"settlement":{"type":"object"},"findings":{"type":"array"},"boundary":{"type":"object"}},"required":["ok","product","version","checkedAt","decision","request","chain","asset","transaction","settlement","findings","boundary"]},"example":{"ok":true,"product":"samedaydesk-base-usdc-settlement-proof","version":"1.0.0","checkedAt":"2026-08-11T08:30:00.000Z","decision":"verified","request":{"transactionHash":"0xcfcbb3...a8987","recipient":"0x8904dF3DE6DFEe6a7C8cc38619d2f17806213Cee","amountAtomic":"5000","payer":"0x990C...7f17"},"chain":{"id":8453,"name":"Base mainnet","network":"eip155:8453"},"asset":{"address":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","symbol":"USDC","decimals":6},"transaction":{"hash":"0xcfcbb3...a8987","status":"success","blockNumber":"49823378","blockTimestamp":"2026-08-11T08:15:03.000Z"},"settlement":{"verified":true,"exactTransferCount":1,"recipientTransferCount":1,"observed":{"payer":"0x990C...7f17","recipient":"0x8904dF3DE6DFEe6a7C8cc38619d2f17806213Cee","amountAtomic":"5000","amountUsdc":"0.005"}},"findings":[],"boundary":{"source":"public Base mainnet receipt and logs","privateLedgerRead":false,"auditedTransactionModified":false,"walletAccessed":false,"executionAuthorized":false}}}}},"400":{"description":"invalid settlement claim, charged nothing"},"402":{"description":"payment required (x402 or MPP, $0.005 USDC base)"}},"operationId":"verifyBaseUsdcSettlement","tags":["Blockchain"],"x-payment-info":{"price":{"amount":"0.005","currency":"USD","mode":"fixed"},"protocols":[{"x402":{"asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","network":"eip155:8453","scheme":"exact"}},{"mpp":{"currency":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","intent":"charge","method":"evm","network":"eip155:8453"}}]}}},"/chain/transaction-receipt":{"get":{"summary":"Get a normalized Base or Ethereum transaction receipt from one hash: success or revert status, block time, gas used, effective gas price, total transaction fee, decoded ERC-20 Transfer events, and canonical USDC transfers. Returns explicit not-found or RPC-unavailable evidence, excludes raw logs, and performs no wallet, signing, broadcast, custody, or execution action.","parameters":[{"name":"transactionHash","in":"query","required":true,"description":"Mined Base or Ethereum transaction hash whose normalized receipt should be returned.","schema":{"type":"string","pattern":"^0x[0-9a-fA-F]{64}$"}},{"name":"network","in":"query","required":false,"description":"Receipt network. Defaults to Base mainnet.","schema":{"type":"string","enum":["base","ethereum"],"default":"base"}}],"responses":{"200":{"description":"normalized transaction receipt with fee and decoded transfer evidence","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"product":{"type":"string","const":"samedaydesk-transaction-receipt"},"version":{"type":"string"},"checkedAt":{"type":"string"},"decision":{"type":"string","enum":["found","not_found","rpc_unavailable"]},"request":{"type":"object"},"chain":{"type":"object"},"transaction":{"type":"object"},"receipt":{"type":"object"},"transfers":{"type":"array"},"canonicalUsdcTransfers":{"type":"array"},"findings":{"type":"array"},"boundary":{"type":"object"}},"required":["ok","product","version","checkedAt","decision","request","chain","transaction","receipt","transfers","canonicalUsdcTransfers","findings","boundary"]},"example":{"ok":true,"product":"samedaydesk-transaction-receipt","version":"1.0.0","checkedAt":"2026-08-11T13:50:00.000Z","decision":"found","request":{"transactionHash":"0xcfcbb3...a8987","network":"base"},"chain":{"id":8453,"name":"Base mainnet","network":"eip155:8453"},"transaction":{"hash":"0xcfcbb3...a8987","status":"success","blockNumber":"49823378","blockTimestamp":"2026-08-11T08:15:03.000Z","gasUsedAtomic":"128761","effectiveGasPriceWei":"10000000","transactionFeeWei":"1287610000000"},"receipt":{"found":true,"logCount":2,"decodedTransferCount":1,"canonicalUsdcTransferCount":1,"transfersTruncated":false},"transfers":[{"token":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","from":"0x990C...7f17","to":"0x8904dF3DE6DFEe6a7C8cc38619d2f17806213Cee","amountAtomic":"5000","canonicalUsdc":true,"amountUsdc":"0.005","logIndex":"1"}],"canonicalUsdcTransfers":[{"token":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","from":"0x990C...7f17","to":"0x8904dF3DE6DFEe6a7C8cc38619d2f17806213Cee","amountAtomic":"5000","canonicalUsdc":true,"amountUsdc":"0.005","logIndex":"1"}],"findings":[],"boundary":{"source":"bounded public Base mainnet receipt and block RPC","rawLogsReturned":false,"privateLedgerRead":false,"walletAccessed":false,"transactionSigned":false,"transactionBroadcast":false,"transactionModified":false}}}}},"400":{"description":"invalid hash or unsupported network, charged nothing"},"402":{"description":"payment required (x402 or MPP, $0.002 USDC base)"}},"operationId":"getTransactionReceipt","tags":["Blockchain"],"x-payment-info":{"price":{"amount":"0.002","currency":"USD","mode":"fixed"},"protocols":[{"x402":{"asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","network":"eip155:8453","scheme":"exact"}},{"mpp":{"currency":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","intent":"charge","method":"evm","network":"eip155:8453"}}]}}},"/chain/solana-transaction-receipt":{"get":{"summary":"Get a normalized finalized Solana transaction receipt from one signature: success or failure status, slot, block time, fee, SPL-token owner deltas, canonical USDC deltas, and optional exact mint, recipient, amount, and payer verification. Returns explicit not-found or RPC-unavailable evidence, excludes raw instructions and logs, and performs no wallet, signing, broadcast, custody, or execution action.","parameters":[{"name":"signature","in":"query","required":true,"description":"Finalized Solana mainnet transaction signature.","schema":{"type":"string","pattern":"^[1-9A-HJ-NP-Za-km-z]{80,90}$","example":"GKYyX4foVCLRN4b8b7qBTXXf9iEAtrdqzez4U1rwgEhUt99cmyXwPQ4JhsEu4PFbWFNj3ZKZbxTVNwHJKK17ahc"}},{"name":"mint","in":"query","required":false,"description":"SPL-token mint to verify. Defaults to canonical Solana USDC.","schema":{"type":"string","pattern":"^[1-9A-HJ-NP-Za-km-z]{32,44}$","default":"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"}},{"name":"recipient","in":"query","required":false,"description":"Optional expected token recipient owner.","schema":{"type":"string","pattern":"^[1-9A-HJ-NP-Za-km-z]{32,44}$"}},{"name":"amountAtomic","in":"query","required":false,"description":"Optional expected positive token amount in atomic units; requires recipient.","schema":{"type":"string","pattern":"^[1-9][0-9]{0,19}$"}},{"name":"payer","in":"query","required":false,"description":"Optional expected token payer owner; requires recipient and amountAtomic.","schema":{"type":"string","pattern":"^[1-9A-HJ-NP-Za-km-z]{32,44}$"}}],"responses":{"200":{"description":"normalized finalized Solana receipt and optional exact SPL-token settlement verification","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"product":{"type":"string","const":"samedaydesk-solana-transaction-receipt"},"version":{"type":"string"},"checkedAt":{"type":"string"},"decision":{"type":"string","enum":["found","verified","not_verified","not_found","rpc_unavailable"]},"request":{"type":"object"},"chain":{"type":"object"},"transaction":{"type":"object"},"receipt":{"type":"object"},"tokenOwnerDeltas":{"type":"array"},"canonicalUsdcOwnerDeltas":{"type":"array"},"verification":{"type":"object"},"findings":{"type":"array"},"boundary":{"type":"object"}},"required":["ok","product","version","checkedAt","decision","request","chain","transaction","receipt","tokenOwnerDeltas","canonicalUsdcOwnerDeltas","verification","findings","boundary"]},"example":{"ok":true,"product":"samedaydesk-solana-transaction-receipt","version":"1.0.0","checkedAt":"2026-08-11T21:12:00.000Z","decision":"found","request":{"signature":"3CjY...GNZn","mint":"EPjF...Dt1v","recipient":null,"amountAtomic":null,"payer":null},"chain":{"name":"Solana mainnet","network":"solana:mainnet","canonicalUsdc":"EPjF...Dt1v"},"transaction":{"signature":"3CjY...GNZn","status":"success","slot":"438431606","blockTime":"2026-08-11T14:40:00.000Z","feeLamports":"5000"},"receipt":{"found":true,"finalized":true,"tokenOwnerDeltaCount":2,"canonicalUsdcDeltaCount":2},"tokenOwnerDeltas":[],"canonicalUsdcOwnerDeltas":[],"verification":{"requested":false,"matched":false},"findings":[],"boundary":{"source":"bounded public Solana mainnet finalized transaction RPC","rawInstructionsReturned":false,"rawLogsReturned":false,"privateLedgerRead":false,"walletAccessed":false,"transactionSigned":false,"transactionBroadcast":false,"transactionModified":false}}}}},"400":{"description":"invalid signature or settlement claim, charged nothing"},"402":{"description":"payment required (x402 or MPP, $0.002 USDC base)"}},"operationId":"getSolanaTransactionReceipt","tags":["Blockchain"],"x-payment-info":{"price":{"amount":"0.002","currency":"USD","mode":"fixed"},"protocols":[{"x402":{"asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","network":"eip155:8453","scheme":"exact"}},{"mpp":{"currency":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","intent":"charge","method":"evm","network":"eip155:8453"}}]}}},"/security/wallet-policy-conformance":{"post":{"operationId":"evaluateWalletPolicyConformance","tags":["Security"],"summary":"Evaluate a credential-free standardized allow/deny matrix for an agent wallet or delegated signer. Distinguishes explicit provider policy denials from validation and generic provider failures, separates operation allowlisting from exact execution-shape control, and returns conformant, partial, or unsafe without an opaque score. Accepts no credentials, wallet IDs, signatures, transactions, or raw provider responses.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","title":"SameDayDesk wallet policy conformance input","type":"object","properties":{"schemaVersion":{"type":"string","const":"agent-payment-policy.wallet-policy-observation.v1"},"profileId":{"type":"string","minLength":1,"maxLength":128},"provider":{"type":"string","minLength":1,"maxLength":128},"network":{"type":"string","minLength":1,"maxLength":128},"protocol":{"type":"string","minLength":1,"maxLength":128},"observations":{"type":"array","minItems":1,"maxItems":16,"items":{"type":"object","properties":{"case":{"type":"string","enum":["intended","missing_authorization","wrong_operation","duplicate_approved_action","wrong_chain","wrong_token_contract_or_program","wrong_recipient","wrong_amount","wrong_function_or_instruction","wrong_route_or_offer","changed_protocol_challenge","replay_or_reuse","reordered_approved_actions","mixed_unapproved_action","wrong_fee_asset","missing_validity"]},"actual":{"type":"string","enum":["allowed","denied","error"]},"denialClass":{"type":"string","enum":["none","policy","validation","provider"]},"code":{"type":"string","pattern":"^[A-Za-z0-9][A-Za-z0-9._:/-]{0,63}$"}},"required":["case","actual","denialClass"],"additionalProperties":false}}},"required":["profileId","provider","network","protocol","observations"],"additionalProperties":false}}}},"responses":{"200":{"description":"credential-free wallet-policy conformance evidence","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","title":"SameDayDesk wallet policy conformance output","type":"object","properties":{"schemaVersion":{"type":"string","const":"samedaydesk.wallet-policy-conformance.v1"},"evaluatedAt":{"type":"string","format":"date-time"},"profile":{"type":"object","additionalProperties":false,"properties":{"profileId":{"type":"string"},"provider":{"type":"string"},"network":{"type":"string"},"protocol":{"type":"string"}},"required":["profileId","provider","network","protocol"]},"decision":{"type":"string","enum":["conformant","partial","unsafe"]},"complete":{"type":"boolean"},"exactShapePassed":{"type":"boolean"},"results":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"case":{"type":"string","enum":["intended","missing_authorization","wrong_operation","duplicate_approved_action","wrong_chain","wrong_token_contract_or_program","wrong_recipient","wrong_amount","wrong_function_or_instruction","wrong_route_or_offer","changed_protocol_challenge","replay_or_reuse","reordered_approved_actions","mixed_unapproved_action","wrong_fee_asset","missing_validity"]},"actual":{"type":"string","enum":["allowed","denied","error"]},"denialClass":{"type":"string","enum":["none","policy","validation","provider"]},"code":{"type":"string","pattern":"^[A-Za-z0-9][A-Za-z0-9._:/-]{0,63}$"},"expected":{"type":"string","enum":["allow","deny"]},"control":{"type":["string","null"]},"required":{"type":"boolean"},"expectationMet":{"type":"boolean"},"providerNativeVerified":{"type":"boolean"},"finding":{"type":"string","enum":["expected_behavior","unsafe_allowed","expected_behavior_not_proven","denied_outside_provider_policy"]}},"required":["case","actual","denialClass","expected","control","required","expectationMet","providerNativeVerified","finding"]}},"providerNativeVerified":{"type":"array","items":{"type":"string"}},"providerNativeUnverified":{"type":"array","items":{"type":"string"}},"notEvaluatedByWalletPolicy":{"type":"array","items":{"type":"string"}},"missingRequiredCases":{"type":"array","items":{"type":"string"}},"unsafeCases":{"type":"array","items":{"type":"string"}},"inconclusiveCases":{"type":"array","items":{"type":"string"}},"boundary":{"type":"object","additionalProperties":false,"properties":{"credentialsAccepted":{"type":"boolean","const":false},"walletAccessed":{"type":"boolean","const":false},"signatureVerified":{"type":"boolean","const":false},"transactionBroadcast":{"type":"boolean","const":false},"statement":{"type":"string"}},"required":["credentialsAccepted","walletAccessed","signatureVerified","transactionBroadcast","statement"]},"standardSchemaVersion":{"type":"string","const":"agent-payment-policy.wallet-policy-observation-report.v1"},"product":{"type":"string","const":"samedaydesk-wallet-policy-conformance"}},"required":["schemaVersion","standardSchemaVersion","product","evaluatedAt","profile","decision","complete","exactShapePassed","results","providerNativeVerified","providerNativeUnverified","notEvaluatedByWalletPolicy","missingRequiredCases","unsafeCases","inconclusiveCases","boundary"],"additionalProperties":false},"example":{"schemaVersion":"samedaydesk.wallet-policy-conformance.v1","standardSchemaVersion":"agent-payment-policy.wallet-policy-observation-report.v1","product":"samedaydesk-wallet-policy-conformance","evaluatedAt":"2026-09-12T04:31:15.502Z","profile":{"profileId":"privy-solana-lab","provider":"Privy","network":"solana:mainnet","protocol":"x402"},"decision":"unsafe","complete":false,"exactShapePassed":false,"results":[{"case":"intended","actual":"allowed","denialClass":"none","code":"signed","expected":"allow","control":null,"required":true,"expectationMet":true,"providerNativeVerified":false,"finding":"expected_behavior"},{"case":"wrong_operation","actual":"denied","denialClass":"policy","code":"policy_violation","expected":"deny","control":"operation","required":true,"expectationMet":true,"providerNativeVerified":true,"finding":"expected_behavior"},{"case":"duplicate_approved_action","actual":"allowed","denialClass":"none","code":"signed","expected":"deny","control":"execution_shape","required":true,"expectationMet":false,"providerNativeVerified":false,"finding":"unsafe_allowed"}],"providerNativeVerified":["operation"],"providerNativeUnverified":["authorization","execution_shape","chain","token_contract","recipient","amount","function","route_lock","protocol_challenge","replay"],"notEvaluatedByWalletPolicy":["output_contract","receipt","balance_reconciliation"],"missingRequiredCases":["missing_authorization","wrong_chain","wrong_token_contract_or_program","wrong_recipient","wrong_amount","wrong_function_or_instruction","wrong_route_or_offer","changed_protocol_challenge","replay_or_reuse"],"unsafeCases":["duplicate_approved_action"],"inconclusiveCases":[],"boundary":{"credentialsAccepted":false,"walletAccessed":false,"signatureVerified":false,"transactionBroadcast":false,"statement":"Evaluates caller-supplied standardized observations. It does not independently execute or verify provider policy tests."}}}}},"400":{"description":"invalid standardized observation matrix, charged nothing"},"402":{"description":"payment required (x402 or MPP, $0.01 USDC base)"}},"x-payment-info":{"price":{"amount":"0.01","currency":"USD","mode":"fixed"},"protocols":[{"x402":{"asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","network":"eip155:8453","scheme":"exact"}},{"mpp":{"currency":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","intent":"charge","method":"evm","network":"eip155:8453"}}]},"x-paid-effect":{"version":"0.1.0","classification":"read_only","unpaidRequest":{"applicationEffects":"none","protocolStateMayBeRecorded":["payment_challenge"],"telemetryPersisted":false},"retry":{"applicationEffectAtMostOnce":"not_applicable_read_only","responseReplay":"conditional","requestBinding":["method","canonical_url","exact_raw_body_sha256","payer","payment_terms","exact_settled_credential"],"x402Requirement":"payment-identifier extension","mppRequirement":"exact settled credential","mismatchStatus":409},"paymentProtocols":["x402","mpp"],"profile":"/.well-known/paid-action-effects.json"}}},"/security/stateful-wallet-policy-conformance":{"post":{"operationId":"evaluateStatefulWalletPolicyConformance","tags":["Security"],"summary":"Evaluate credential-free stateful wallet-policy observations for sequential cumulative limits, signed-but-unbroadcast accounting, ABI extraction integrity, concurrent oversubscription, counter-reference failure, and application serialization. Separates provider-policy enforcement from application guards and returns conformant, partial, or unsafe without an opaque score. Accepts no credentials, wallet or resource IDs, counter values, signatures, transactions, or raw provider responses.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","title":"SameDayDesk stateful wallet policy conformance input","type":"object","properties":{"schemaVersion":{"type":"string","const":"agent-payment-policy.stateful-wallet-policy-observation.v1"},"profileId":{"type":"string","minLength":1,"maxLength":128},"provider":{"type":"string","minLength":1,"maxLength":128},"network":{"type":"string","minLength":1,"maxLength":128},"protocol":{"type":"string","minLength":1,"maxLength":128},"observations":{"type":"array","minItems":1,"maxItems":7,"items":{"type":"object","properties":{"case":{"type":"string","enum":["first_within_cap","sequential_exceeds_cap","signed_unbroadcast_counts","unrecognized_calldata","concurrent_exceeds_cap","missing_counter_reference","application_serialized_concurrent_exceeds_cap"]},"actual":{"type":"string","enum":["allowed","denied","error"]},"enforcementClass":{"type":"string","enum":["none","policy","application","validation","provider"]},"code":{"type":"string","pattern":"^[A-Za-z0-9][A-Za-z0-9._:/-]{0,63}$"}},"required":["case","actual","enforcementClass"],"additionalProperties":false}}},"required":["profileId","provider","network","protocol","observations"],"additionalProperties":false}}}},"responses":{"200":{"description":"credential-free stateful wallet-policy conformance evidence","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","title":"SameDayDesk stateful wallet policy conformance output","type":"object","properties":{"schemaVersion":{"type":"string","const":"samedaydesk.stateful-wallet-policy-conformance.v1"},"evaluatedAt":{"type":"string","format":"date-time"},"profile":{"type":"object","additionalProperties":false,"properties":{"profileId":{"type":"string"},"provider":{"type":"string"},"network":{"type":"string"},"protocol":{"type":"string"}},"required":["profileId","provider","network","protocol"]},"decision":{"type":"string","enum":["conformant","partial","unsafe"]},"complete":{"type":"boolean"},"strictBudgetPassed":{"type":"boolean"},"results":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"case":{"type":"string","enum":["first_within_cap","sequential_exceeds_cap","signed_unbroadcast_counts","unrecognized_calldata","concurrent_exceeds_cap","missing_counter_reference","application_serialized_concurrent_exceeds_cap"]},"actual":{"type":"string","enum":["allowed","denied","error"]},"enforcementClass":{"type":"string","enum":["none","policy","application","validation","provider"]},"code":{"type":"string","pattern":"^[A-Za-z0-9][A-Za-z0-9._:/-]{0,63}$"},"expected":{"type":"string","enum":["allow","deny"]},"control":{"type":["string","null"]},"required":{"type":"boolean"},"expectationMet":{"type":"boolean"},"providerNativeVerified":{"type":"boolean"},"applicationVerified":{"type":"boolean"},"finding":{"type":"string","enum":["expected_behavior","unsafe_allowed","expected_behavior_not_proven","denied_outside_policy_or_application_guard"]}},"required":["case","actual","enforcementClass","expected","control","required","expectationMet","providerNativeVerified","applicationVerified","finding"]}},"providerNativeVerified":{"type":"array","items":{"type":"string"}},"providerNativeUnverified":{"type":"array","items":{"type":"string"}},"applicationVerified":{"type":"array","items":{"type":"string"}},"missingRequiredCases":{"type":"array","items":{"type":"string"}},"unsafeCases":{"type":"array","items":{"type":"string"}},"inconclusiveCases":{"type":"array","items":{"type":"string"}},"boundary":{"type":"object","additionalProperties":false,"properties":{"credentialsAccepted":{"type":"boolean","const":false},"walletAccessed":{"type":"boolean","const":false},"signaturesVerified":{"type":"boolean","const":false},"transactionBroadcast":{"type":"boolean","const":false},"statement":{"type":"string"}},"required":["credentialsAccepted","walletAccessed","signaturesVerified","transactionBroadcast","statement"]},"standardSchemaVersion":{"type":"string","const":"agent-payment-policy.stateful-wallet-policy-observation-report.v1"},"product":{"type":"string","const":"samedaydesk-stateful-wallet-policy-conformance"}},"required":["schemaVersion","standardSchemaVersion","product","evaluatedAt","profile","decision","complete","strictBudgetPassed","results","providerNativeVerified","providerNativeUnverified","applicationVerified","missingRequiredCases","unsafeCases","inconclusiveCases","boundary"],"additionalProperties":false},"example":{"schemaVersion":"samedaydesk.stateful-wallet-policy-conformance.v1","standardSchemaVersion":"agent-payment-policy.stateful-wallet-policy-observation-report.v1","product":"samedaydesk-stateful-wallet-policy-conformance","evaluatedAt":"2026-09-12T04:31:15.516Z","profile":{"profileId":"privy-base-sepolia-stateful-cap","provider":"Privy","network":"eip155:11155111","protocol":"x402"},"decision":"unsafe","complete":false,"strictBudgetPassed":false,"results":[{"case":"first_within_cap","actual":"allowed","enforcementClass":"none","code":"signed","expected":"allow","control":null,"required":true,"expectationMet":true,"providerNativeVerified":false,"applicationVerified":false,"finding":"expected_behavior"},{"case":"sequential_exceeds_cap","actual":"denied","enforcementClass":"policy","code":"policy_violation","expected":"deny","control":"cumulative_limit","required":true,"expectationMet":true,"providerNativeVerified":true,"applicationVerified":false,"finding":"expected_behavior"},{"case":"unrecognized_calldata","actual":"allowed","enforcementClass":"none","code":"signed","expected":"deny","control":"extraction_integrity","required":true,"expectationMet":false,"providerNativeVerified":false,"applicationVerified":false,"finding":"unsafe_allowed"},{"case":"concurrent_exceeds_cap","actual":"allowed","enforcementClass":"none","code":"oversubscribed","expected":"deny","control":"concurrency","required":true,"expectationMet":false,"providerNativeVerified":false,"applicationVerified":false,"finding":"unsafe_allowed"}],"providerNativeVerified":["cumulative_limit"],"providerNativeUnverified":["post_sign_accounting","extraction_integrity","concurrency","reference_integrity"],"applicationVerified":[],"missingRequiredCases":["signed_unbroadcast_counts","missing_counter_reference"],"unsafeCases":["unrecognized_calldata","concurrent_exceeds_cap"],"inconclusiveCases":[],"boundary":{"credentialsAccepted":false,"walletAccessed":false,"signaturesVerified":false,"transactionBroadcast":false,"statement":"Evaluates caller-supplied standardized stateful observations. It does not run concurrent requests, inspect provider counters, access a wallet, or verify signatures."}}}}},"400":{"description":"invalid standardized stateful observation matrix, charged nothing"},"402":{"description":"payment required (x402 or MPP, $0.01 USDC base)"}},"x-payment-info":{"price":{"amount":"0.01","currency":"USD","mode":"fixed"},"protocols":[{"x402":{"asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","network":"eip155:8453","scheme":"exact"}},{"mpp":{"currency":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","intent":"charge","method":"evm","network":"eip155:8453"}}]},"x-paid-effect":{"version":"0.1.0","classification":"read_only","unpaidRequest":{"applicationEffects":"none","protocolStateMayBeRecorded":["payment_challenge"],"telemetryPersisted":false},"retry":{"applicationEffectAtMostOnce":"not_applicable_read_only","responseReplay":"conditional","requestBinding":["method","canonical_url","exact_raw_body_sha256","payer","payment_terms","exact_settled_credential"],"x402Requirement":"payment-identifier extension","mppRequirement":"exact settled credential","mismatchStatus":409},"paymentProtocols":["x402","mpp"],"profile":"/.well-known/paid-action-effects.json"}}},"/extract":{"get":{"summary":"Extract a public HTTP(S) web page into structured JSON with a clean text excerpt for LLM workflows: title, description, JSON-LD, Open Graph/Twitter metadata, headings, links, and AI-readiness signals. Fetches without JavaScript rendering, follows redirects, and applies a 12-second timeout and 3 MB read cap. The paid JSON keeps requestedUrl, finalUrl, source HTTP status, sourceOk, a nullable error, and capture limits; the excerpt is not the full page. Use /read for longer cleaned Markdown.","parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"typed extract record after payment. HTTP 200 is merchant delivery, not source success. Source HTTP status i
[...]
