{
  "swagger": "2.0",
  "info": {
    "title": "Slack Web API",
    "version": "1.7.0",
    "description": "One way to interact with the Slack platform is its HTTP RPC-based Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace tokens blessed with related OAuth scopes."
  },
  "host": "slack.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/chat.postMessage": {
      "post": {
        "operationId": "chat_postMessage",
        "description": "Sends a message to a channel.",
        "tags": [
          "chat"
        ],
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Authentication token. Requires scope: `chat:write`"
          },
          {
            "name": "as_user",
            "in": "formData",
            "type": "string",
            "description": "Pass true to post the message as the authed user, instead of as a bot. Defaults to false. See [authorship](#authorship) below."
          },
          {
            "name": "attachments",
            "in": "formData",
            "type": "string",
            "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."
          },
          {
            "name": "blocks",
            "in": "formData",
            "type": "string",
            "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."
          },
          {
            "name": "channel",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name. See [below](#channels) for more details."
          },
          {
            "name": "icon_emoji",
            "in": "formData",
            "type": "string",
            "description": "Emoji to use as the icon for this message. Overrides `icon_url`. Must be used in conjunction with `as_user` set to `false`, otherwise ignored. See [authorship](#authorship) below."
          },
          {
            "name": "icon_url",
            "in": "formData",
            "type": "string",
            "description": "URL to an image to use as the icon for this message. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
          },
          {
            "name": "link_names",
            "in": "formData",
            "type": "boolean",
            "description": "Find and link channel names and usernames."
          },
          {
            "name": "mrkdwn",
            "in": "formData",
            "type": "boolean",
            "description": "Disable Slack markup parsing by setting to `false`. Enabled by default."
          },
          {
            "name": "parse",
            "in": "formData",
            "type": "string",
            "description": "Change how messages are treated. Defaults to `none`. See [below](#formatting)."
          },
          {
            "name": "reply_broadcast",
            "in": "formData",
            "type": "boolean",
            "description": "Used in conjunction with `thread_ts` and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to `false`."
          },
          {
            "name": "text",
            "in": "formData",
            "type": "string",
            "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."
          },
          {
            "name": "thread_ts",
            "in": "formData",
            "type": "string",
            "description": "Provide another message's `ts` value to make this message a reply. Avoid using a reply's `ts` value; use its parent instead."
          },
          {
            "name": "unfurl_links",
            "in": "formData",
            "type": "boolean",
            "description": "Pass true to enable unfurling of primarily text-based content."
          },
          {
            "name": "unfurl_media",
            "in": "formData",
            "type": "boolean",
            "description": "Pass false to disable unfurling of media content."
          },
          {
            "name": "username",
            "in": "formData",
            "type": "string",
            "description": "Set your bot's user name. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response"
          },
          "default": {
            "description": "Typical error response if too many attachments are included"
          }
        }
      }
    },
    "/users.info": {
      "get": {
        "operationId": "users_info",
        "description": "Gets information about a user.",
        "tags": [
          "users"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Authentication token. Requires scope: `users:read`"
          },
          {
            "name": "include_locale",
            "in": "query",
            "type": "boolean",
            "description": "Set this to `true` to receive the locale for this user. Defaults to `false`"
          },
          {
            "name": "user",
            "in": "query",
            "type": "string",
            "description": "User to get info on"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response"
          },
          "default": {
            "description": "Typical error response"
          }
        }
      }
    },
    "/conversations.list": {
      "get": {
        "operationId": "conversations_list",
        "description": "Lists all channels in a Slack team.",
        "tags": [
          "conversations"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "Authentication token. Requires scope: `conversations:read`"
          },
          {
            "name": "exclude_archived",
            "in": "query",
            "type": "boolean",
            "description": "Set to `true` to exclude archived channels from the list"
          },
          {
            "name": "types",
            "in": "query",
            "type": "string",
            "description": "Mix and match channel types by providing a comma-separated list of any combination of `public_channel`, `private_channel`, `mpim`, `im`"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the list hasn't been reached. Must be an integer no larger than 1000."
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response with only public channels"
          },
          "default": {
            "description": "Typical error response"
          }
        }
      }
    },
    "/conversations.mark": {
      "post": {
        "operationId": "conversations_mark",
        "description": "Sets the read cursor in a channel.",
        "tags": [
          "conversations"
        ],
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "type": "string",
            "description": "Authentication token. Requires scope: `conversations:write`"
          },
          {
            "name": "channel",
            "in": "formData",
            "type": "string",
            "description": "Channel or conversation to set the read cursor for."
          },
          {
            "name": "ts",
            "in": "formData",
            "type": "number",
            "description": "Unique identifier of message you want marked as most recently seen in this conversation."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response"
          },
          "default": {
            "description": "Typical error response"
          }
        }
      }
    },
    "/admin.conversations.create": {
      "post": {
        "operationId": "admin_conversations_create",
        "description": "Create a public or private channel-based conversation.",
        "tags": [
          "admin.conversations",
          "admin"
        ],
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Authentication token. Requires scope: `admin.conversations:write`"
          },
          {
            "name": "name",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Name of the public or private channel to create."
          },
          {
            "name": "description",
            "in": "formData",
            "type": "string",
            "description": "Description of the public or private channel to create."
          },
          {
            "name": "is_private",
            "in": "formData",
            "required": true,
            "type": "boolean",
            "description": "When `true`, creates a private channel instead of a public channel"
          },
          {
            "name": "org_wide",
            "in": "formData",
            "type": "boolean",
            "description": "When `true`, the channel will be available org-wide. Note: if the channel is not `org_wide=true`, you must specify a `team_id` for this channel"
          },
          {
            "name": "team_id",
            "in": "formData",
            "type": "string",
            "description": "The workspace to create the channel in. Note: this argument is required unless you set `org_wide=true`."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response"
          },
          "default": {
            "description": "Typical error response"
          }
        }
      }
    },
    "/calls.add": {
      "post": {
        "operationId": "calls_add",
        "description": "Registers a new Call.",
        "tags": [
          "calls"
        ],
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Authentication token. Requires scope: `calls:write`"
          },
          {
            "name": "external_unique_id",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "An ID supplied by the 3rd-party Call provider. It must be unique across all Calls from that service."
          },
          {
            "name": "external_display_id",
            "in": "formData",
            "type": "string",
            "description": "An optional, human-readable ID supplied by the 3rd-party Call provider. If supplied, this ID will be displayed in the Call object."
          },
          {
            "name": "join_url",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The URL required for a client to join the Call."
          },
          {
            "name": "desktop_app_join_url",
            "in": "formData",
            "type": "string",
            "description": "When supplied, available Slack clients will attempt to directly launch the 3rd-party Call with this URL."
          },
          {
            "name": "date_start",
            "in": "formData",
            "type": "integer",
            "description": "Call start time in UTC UNIX timestamp format"
          },
          {
            "name": "title",
            "in": "formData",
            "type": "string",
            "description": "The name of the Call."
          },
          {
            "name": "created_by",
            "in": "formData",
            "type": "string",
            "description": "The valid Slack user ID of the user who created this Call. When this method is called with a user token, the `created_by` field is optional and defaults to the authed user of the token. Otherwise, the field is required."
          },
          {
            "name": "users",
            "in": "formData",
            "type": "string",
            "description": "The list of users to register as participants in the Call. [Read more on how to specify users here](/apis/calls#users)."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response"
          },
          "default": {
            "description": "Typical error response"
          }
        }
      }
    }
  }
}
