{
  "swagger": "2.0",
  "info": {
    "title": "Slack Web API",
    "version": "1.5.0",
    "description": "One way to interact with the Slack platform is its HTTP RPC-based Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace tokens blessed with related OAuth scopes."
  },
  "host": "slack.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/chat.postMessage": {
      "post": {
        "operationId": "chat_postMessage",
        "description": "Sends a message to a channel.",
        "tags": [
          "chat"
        ],
        "consumes": [
          "application/x-www-form-urlencoded",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "attachments",
            "in": "formData",
            "type": "string",
            "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."
          },
          {
            "name": "unfurl_links",
            "in": "formData",
            "type": "boolean",
            "description": "Pass true to enable unfurling of primarily text-based content."
          },
          {
            "name": "text",
            "in": "formData",
            "type": "string",
            "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."
          },
          {
            "name": "unfurl_media",
            "in": "formData",
            "type": "boolean",
            "description": "Pass false to disable unfurling of media content."
          },
          {
            "name": "parse",
            "in": "formData",
            "type": "string",
            "description": "Change how messages are treated. Defaults to `none`. See [below](#formatting)."
          },
          {
            "name": "as_user",
            "in": "formData",
            "type": "string",
            "description": "Pass true to post the message as the authed user, instead of as a bot. Defaults to false. See [authorship](#authorship) below."
          },
          {
            "name": "mrkdwn",
            "in": "formData",
            "type": "boolean",
            "description": "Disable Slack markup parsing by setting to `false`. Enabled by default."
          },
          {
            "name": "channel",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name. See [below](#channels) for more details."
          },
          {
            "name": "blocks",
            "in": "formData",
            "type": "string",
            "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."
          },
          {
            "name": "icon_emoji",
            "in": "formData",
            "type": "string",
            "description": "Emoji to use as the icon for this message. Overrides `icon_url`. Must be used in conjunction with `as_user` set to `false`, otherwise ignored. See [authorship](#authorship) below."
          },
          {
            "name": "link_names",
            "in": "formData",
            "type": "boolean",
            "description": "Find and link channel names and usernames."
          },
          {
            "name": "reply_broadcast",
            "in": "formData",
            "type": "boolean",
            "description": "Used in conjunction with `thread_ts` and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to `false`."
          },
          {
            "name": "thread_ts",
            "in": "formData",
            "type": "string",
            "description": "Provide another message's `ts` value to make this message a reply. Avoid using a reply's `ts` value; use its parent instead."
          },
          {
            "name": "username",
            "in": "formData",
            "type": "string",
            "description": "Set your bot's user name. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
          },
          {
            "name": "token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Authentication token. Requires scope: `chat:write`"
          },
          {
            "name": "icon_url",
            "in": "formData",
            "type": "string",
            "description": "URL to an image to use as the icon for this message. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response"
          },
          "default": {
            "description": "Typical error response if too many attachments are included"
          }
        }
      }
    },
    "/users.info": {
      "get": {
        "operationId": "users_info",
        "description": "Gets information about a user.",
        "tags": [
          "users"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Authentication token. Requires scope: `users:read`"
          },
          {
            "name": "user",
            "in": "query",
            "type": "string",
            "description": "User to get info on"
          },
          {
            "name": "include_locale",
            "in": "query",
            "type": "boolean",
            "description": "Set this to `true` to receive the locale for this user. Defaults to `false`"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response"
          },
          "default": {
            "description": "Typical error response"
          }
        }
      }
    },
    "/conversations.list": {
      "get": {
        "operationId": "conversations_list",
        "description": "Lists all channels in a Slack team.",
        "tags": [
          "conversations"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail."
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "Authentication token. Requires scope: `conversations:read`"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the list hasn't been reached. Must be an integer no larger than 1000."
          },
          {
            "name": "exclude_archived",
            "in": "query",
            "type": "boolean",
            "description": "Set to `true` to exclude archived channels from the list"
          },
          {
            "name": "types",
            "in": "query",
            "type": "string",
            "description": "Mix and match channel types by providing a comma-separated list of any combination of `public_channel`, `private_channel`, `mpim`, `im`"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response with only public channels"
          },
          "default": {
            "description": "Typical error response"
          }
        }
      }
    },
    "/channels.list": {
      "get": {
        "operationId": "channels_list",
        "description": "Lists all channels in a Slack team.",
        "tags": [
          "channels"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "exclude_members",
            "in": "query",
            "type": "boolean",
            "description": "Exclude the `members` collection from each `channel`"
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail."
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:read`"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the users list hasn't been reached."
          },
          {
            "name": "exclude_archived",
            "in": "query",
            "type": "boolean",
            "description": "Exclude archived channels from the list"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical cursored success response"
          },
          "default": {
            "description": "Typical error response"
          }
        }
      }
    },
    "/channels.info": {
      "get": {
        "operationId": "channels_info",
        "description": "Gets information about a channel.",
        "tags": [
          "channels"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:read`"
          },
          {
            "name": "include_locale",
            "in": "query",
            "type": "boolean",
            "description": "Set this to `true` to receive the locale for this channel. Defaults to `false`"
          },
          {
            "name": "channel",
            "in": "query",
            "type": "string",
            "description": "Channel to get info on"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response"
          },
          "default": {
            "description": "Error response when the specified channel cannot be found"
          }
        }
      }
    }
  }
}
